:root {
  --gray-dark: hsl(0, 0%, 20%);
  --gray-darker: hsl(0, 0%, 13%);
  --gray: hsl(106, 5%, 52%);
  --gray-light: hsl(0, 0%, 60%);
  --gray-lighter: hsl(0, 0%, 75%);
  --brand-primary: hsl(183, 57%, 52%);
  --brand-success: hsl(120, 39%, 54%);
  --brand-info: hsl(194, 66%, 61%);
  --brand-warning: hsl(35, 84%, 62%);
  --brand-danger: hsl(2, 64%, 58%);
  --body-background-colour: #fff;
  --text-colour: var(--gray-dark);
  --link-colour: #22f;
  --link-hover-colour: color-mix(in oklab, var(--link-colour), white 15%);
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-family-monospace: monospace;
  --font-family-base: var(--font-family-sans-serif);
  --line-height: 1.6;
  --header-height: 76px;
  --header-border-width: 1px;
  --header-border-colour: black;
  --header-background-colour: #353438;
  --header-text: #ffffff;
  --navbar-link-colour: var(--link-colour);
  --navbar-link-hover-colour: var(--link-hover-colour);
  --navbar-link-font-weight: 700;
  --filter-heading-gap: 3px;
  --filter-heading-background: #5cb85c;
  --filter-heading-colour: hsl(0, 0%, 0%);
  --filter-body-background: hsl(0, 0%, 100%);
  --filter-body-colour: hsl(0, 0%, 0%);
  --filter-body-link-colour: hsl(0, 0%, 0%);
  --filter-border: 1px solid hsl(0, 0%, 80%);
}
