:root {
    /* UKCEH colours */
    --ukceh-colours-blue: #2f7ece;
    --ukceh-colours-green: #4da43a;
    --ukceh-colours-teal: #0383a4;
    --ukceh-colours-orange: #f39532;
    --ukceh-colours-lightgrey: #eaeeec;
    --ukceh-colours-black: #1d1d1b;

    --body-background-colour: #fff;
    --text-default-colour: var(--ukceh-colours-black);

    --primary-colour: var(--ukceh-colours-green);
    --secondary-colour: var(--ukceh-colours-blue);
    --tertiary-colour: var(--ukceh-colours-teal);

    --link-colour: var(--primary-colour);
    --link-hover-colour: var(--ukceh-colours-orange);

    /*
    --font-family-sans-serif: Lato", sans-serif; Should be Lato and Montserrat for UKCEH corporate styles
    --font-size-base: 16px;
    --font-size-large: calc((var(--font-size-base) * 1.25));
    --font-size-small: calc((var(--font-size-base) * 0.85));
    --font-size-h1: calc((var(--font-size-base) * 2.2));
    --font-size-h2: calc((var(--font-size-base) * 1.75));
    --font-size-h3: calc((var(--font-size-base) * 1.5));
    --font-size-h4: calc((var(--font-size-base) * 1.2));
    --font-size-h5: var(--font-size-base);
    --font-size-h6: calc((var(--font-size-base) * 0.85)); // ~12px
*/

    --font-family-body: Lato, sans-serif;
    --font-family-headers: montserrat, sans-serif;

    --header-background-colour: #333;
    --header-height: 80px;
    --header-link-background-colour: var(--header-background-colour);
    --header-link-hover-background-colour: color-mix(in lab, var(--header-link-background-colour), white 30%);
    --header-link-colour: white;
    --header-link-hover-colour: white;
    --header-border-colour: transparent;
    --header-border-width: 0;
    --nav-toggle-colour: var(--header-link-colour);

    --filter-width: 400px;
    --filter-heading-background-colour: var(--primary-colour);
    --filter-heading-colour: var(--filter-tab-border-colour);
    --filter-body-background-colour: var(--body-background-colour);
    --filter-body-colour: black;
    --filter-body-link-colour: black;
    --filter-border: 1px solid var(--filter-heading-background-colour);
    --filter-tab-border-colour: var(--secondary-colour);
    --search-map-header-height: 145px;

    --footer-background-colour:#EEE;
}
