#message-panel {
  .panel();

  position:  fixed;
  display:   none;
  top:       100px;
  right:     0;
  padding:   4px;
  font-size: 80%;
  z-index:1000;

  .alert { padding: 7px; margin-bottom: 0; }

  //Ideally I would like the icon to be in a button.
  //However I can't get the styling to look quite right.
  span.fa, span.fa-solid , span.fa-regular {
    cursor: pointer;
    &:hover { color: black; }
  }
}