@light-gray-border: #ccc;
@quality_success: #090;
@quality_warning: rgb(255, 153, 51);
@quality_info: rgb(102, 102, 255);
@quality_error: rgb(255, 102, 102);
@border_radius: 0.5em;

.metadata-grid {
  .col1 {
    grid-area: col1;
  }
  .col2 {
    grid-area: col2;
  }
  display: grid;
  grid-template-columns: auto 360px;
  gap: 0 2em;
  grid-template-areas:
    "col2 col2"
    "col1 col1";
}

#metadata {
  .section {
    padding: 2em 0;
    &-grey {
      background-color: hsl(0, 0%, 95%);
    }
  }

  .description {
    display: grid;
    grid-template-columns: auto fit-content(450px);
    .browseimage {
      display: none;
      img {
        padding: 1em;
        max-width: 100%;
        max-height: 200px;
      }
    }
    .description-text {
      line-height: @line-height-base;
    }

    @media only screen and (min-width: 640px) {
      .browseimage {
        display: block;
      }
    }
  }

  #section-title {
    margin-top: 3em;
    padding: 1em 0;
    /*border-bottom: 1px solid @light-gray-border;
    margin-bottom: 1em;*/

    h1 {
      margin-top: 0;
      margin-bottom: 0.2em;
    }

    .authorList {
      color: #717171;
    }

    .doi {
      font-size: 90%;
      margin: 0;
    }
  }
  .publicationDate {
    margin-top: 1.6em;
  }
  
  #latestVersion {
    margin-bottom: 1.5em;
    .otherVersions {
      margin-left: 0.6em;
      color: @link-color;

      &:hover {
        color: @link-hover-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    ul {
      li {
        a {
          font-size: 0.85em;
          padding: 0.75em 1.5em;
        }
      }
    }
  }

  #qualityAlert {
    .alert {
      margin: 1em 0 -0.5em 0;
      background-color: transparent;
      border: 2px solid #aaa;
      border-radius: 10px;
    }

    .alert-MDquality_danger {
      border-color: @quality_error;
      color: @quality_error;
    }

    .alert-MDquality_error {
      border-color: @quality_error;
      color: @quality_error;
    }

    .alert-MDquality_warning {
      border-color: @quality_warning;
      color: @quality_warning;
    }

    .alert-MDquality_info {
      border-color: @quality_info;
      color: @quality_info;
    }

    span {
      margin: 0 1.2em;
    }
  }

  .distribution-dataset {
    > div {
      margin-bottom: 2em;
    }
    .licenceText {
      .ogl-logo {
        margin-top: 0.3em;
        .pull-right;
      }
    }

    .onlineResourceLinks {
      margin: 2em 0;
      a {
        display: block;
        margin: 0.5em 1.5em;
      }
    }
  }

  .modal-body {
    #citation-text {
      margin: -0.5em 2em 2em 2em;
    }

    .licenceText {
      margin-top: 3em;
      .text-center;

      img {
        display: block;
        margin: 5px auto;
      }
    }
  }

  #document-description {
    margin: 1em 0;
    padding-top: 1em;
  }

  #document-thirdparty {
    display: block;
  }
  #section-children {
    margin-top: 3em;
  }

  .supplement,
  .citation {
    margin: 2em 0;
    overflow: hidden;
  }

  #document-distribution {
    .signpostURL {
      display: block;
      margin: 1em 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .divider {
      height: 1px;
      background: @light-gray-border;
      margin: 1.2em 0;
    }

    .onlineResourceLinks {
      > div {
        padding: 0.25em 0.65em;
        margin-left: 2em;

        i {
          margin-left: -2.25em;
          margin-right: 0.75em;
        }
      }
    }

    #resourceStatus {
      background-color: transparent;
      border: none;
      color: #222;
      padding: 0;
      border-bottom: 1px solid #aaf !important;
      padding-bottom: 1em !important;

      a {
        color: @link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin-left: 0;
      }

      i {
        display: none;
      }
    }
  }

  #signpost {
    .signpostURL {
      display: block;
      margin: 0.25em 0 0 1.35em;
    }

    .licenceText {
      display: none;
    }

    .licenceText {
      display: none;
    }
  }

  #document-otherContacts {
    dl.dl-horizontal {
      dd,
      dt {
        margin-bottom: 0;
      }
    }
  }

  h2 {
    margin-top: 2.5em;
    border-bottom: 1px solid @light-gray-border;
    padding-bottom: 6px;
  }

  .cardlist {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;

    &--item {
      max-width: 19.5em;
      border: 2px solid @brand-success;
      display: grid;
      grid-template-columns: 7rem auto;
      border-radius: 1rem;
      color: @brand-success;

      &--icon,
      &--type,
      &--title {
        margin: 0.75em;
      }

      &--icon i {
        background-color: @brand-success;
        border-radius: 50%;
        border: 2px solid white;
        color: white;
        font-size: 2.2rem;
        font-style: normal;
        line-height: 4.5rem;
        width: 5rem;
        height: 5rem;
        text-align: center;
      }

      &--type {
        font-weight: 300;
        color: gray;
      }

      &:hover {
        background-color: @brand-success;
        color: white;
        text-decoration: none;
      }
      &:hover .cardlist--item--type {
        color: white;
      }
    }
  }

  .panel-right {
    .panel-title {
      font-size: 1.4em;
      font-weight: normal;
      color: #bb4c1a;
      margin-bottom: 0.5em;
    }
  }

  #adminPanel {
    margin: 1.75em auto -1.75em auto;

    #adminToolbar,
    .adminToolbar {
      .btn-wide {
        min-width: 10em;
      }
    }

    ul {
      a {
        font-size: 90%;
      }

      div.msg {
        margin: 1em;
        white-space: nowrap;
      }
    }
  }

  #studyarea-map,
  #geometry-map {
    height: 300px;
    width: 300px;
  }

  .mintDOI {
    margin: 0 1em;
  }

  // If the current metadata document is a historic archive, a warning is
  // displayed to the user at the top of the metadata page with
  // id = 'not-current'
  #resourceStatus {
    margin: 2em 0 1em 0;

    a {
      color: #00b;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .alort {
    display: flex;
    padding: 0 1em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 2em 0 1em 0;

    &-Superseded {
      border: 0 solid @gray;
      border-width: 2px 0;
    }

    > div {
      padding: 1em;
    }
    p {
      margin: 0.35em 0;
    }
  }

  .alert-In-progress,
  .alert-Embargoed {
    .alert-info;
  }

  .alert-Superseded,
  .alert-Withdrawn {
    .alert-danger;
  }

  // Prevent definition lists from wrapping the term
  .dl-horizontal dt {
    white-space: normal;
  }

  .panel {
    overflow-wrap: break-word;
  }

  .panel,
  .panel-heading {
    border-radius: 0;
  }

  .panel-heading {
    padding: 0.5em 1em;
  }

  .responsibleParty {
    a.contactEmail {
      margin-left: 0.5em;
      font-size: 75%;
    }

    a.contactEmail:hover {
      background-color: #99aefd;
      color: #fff;
      text-decoration: none;
    }

    .nameIdentifier {
      font-size: 90%;

      span {
        font-size: 80%;
        margin-left: 0.75em;
      }
    }

    margin-bottom: 1.5em;

    address {
      margin-bottom: 0;
    }
  }

  #document-authors {
    a.moreAuthors {
      &::after {
        content: "fewer ↑";
      }

      span {
        display: none;
      }
    }

    a.moreAuthors.collapsed {
      &::after {
        content: "more ↓";
      }

      span {
        display: inline;
      }
    }
  }

  #document-upload-panel {
    border-radius: 0;

    .panel-body {
      padding: 1em;

      p {
        font-weight: bold;
        font-size: 1.2em;
        margin: 0;
      }
    }
  }

  .funding {
    .award {
      .awardNumber {
        margin-left: 2em;
      }
    }
  }

  #associations {
    div {
      margin-bottom: 2.5em;

      p {
        margin: 0 0 0.4em 3em;
      }
    }
  }

  #section-onlineResources {
    p {
      margin-bottom: 1.5em;
    }
  }

  .panel {
    border-radius: @border_radius;

    .panel-heading {
      border-radius: @border_radius @border_radius 0 0;
    }
  }

  @media (min-width: 768px) {
    .dl-horizontal dt {
      width: 15em;
      white-space: normal;
    }

    .dl-horizontal dd {
      margin-left: 16em;
      margin-bottom: 0.3em;
    }
  }

  @media (min-width: 468px) {
    .dl-horizontal dd {
      margin-bottom: 1em;
    }
  }

  #section-metadataQuality {
    .panel-heading {
      color: #fff;

      .col-sm-9 {
        text-align: right;
      }
    }

    .panel-heading.MDquality_error {
      background: @quality_error;
    }

    .panel-heading.MDquality_warning {
      background: @quality_warning;
    }

    .panel-heading.MDquality_info {
      background: @quality_info;
    }

    ul.MDquality_error {
      li {
        color: @quality_error;
        font-weight: bold;
        background-color: fade(@quality_error, 15%);
      }
    }

    ul.MDquality_warning {
      li {
        color: @quality_warning;
        font-weight: bold;
        background-color: fade(@quality_warning, 15%);
      }
    }

    ul.MDquality_info {
      li {
        background-color: fade(@quality_info, 15%);
      }
    }

    span {
      color: #00d;

      &::before {
        content: " «";
      }

      &::after {
        content: "» ";
      }
    }
  }

  .browseGraphic {
    .pull-right;
    margin: 0 0 1em 2em;
    max-width: 30em;
    max-height: 30em;
  }
}

.missingResourceType {
  color: red;
  font-weight:bold;
}

#publication {
  div {
    margin: 4em auto;
    text-align: center;

    .btn {
      min-width: 18em;
    }
  }
}

.footer {
  background-color: #ccc;
  padding-top: 1em;
  position: absolute;
  width: 100%;
  bottom: 0;
  span:not(:last-of-type)::after {
    content: "|";
    margin: 0 1em;
  }
}

dl.dl-horizontal {
  &--compact {
    margin-left: 5rem;
    dt {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    dd {
      margin-bottom: 0.3rem !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .ceh-model {
    dl.dl-horizontal {
      &--compact {
        margin-left: 0;
      }
    }
  }
}

.ceh-model {
  .description {
    margin-bottom: 2em;
  }

  section {
    h2 {
      color: gray;
      margin-top: 4em;
      border: none;
    }
  }
  .key-value {
    padding: 1.5em 0;
    border-top: 1px solid lightgray;
    &:first-of-type {
      border: none;
    }

    .key {
      .key-name {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
}

.codeDocument {
  .adminToolbar {
    z-index: 1000;
    position: absolute;
    top: 8rem;
    left: min(calc(100vw - 20em), 1120px);
    width: fit-content;
  }

  .grid {
    display: grid;
    grid-template-columns: auto 280px;
    grid-template-areas:
      "one one"
      "two two"
      "three three";

    .grid--one {
      grid-area: one;
    }
    .grid--two {
      grid-area: two;
    }
    .grid--three {
      grid-area: three;
    }
    @media screen and (min-width: 850px) {
      --gridspacing: 1em;
      grid-template-areas:
        "one two"
        "three two";
      .grid--two {
        > div {
          border-left: 1px solid lightgray;
          padding-left: var(--gridspacing);
          margin-left: var(--gridspacing);
        }
      }
    }
  }
}

//MEDIA
@media only screen and (min-width: 1020px) {
  .metadata-grid {
    grid-template-areas: "col1 col2";
    .col2 {
      border-left: 1px solid lightgray;
      padding-left: 2em;
    }
  }
}
