// PAGE STRUCTURE
html:has(.search),
body:has(.search) {
    overflow-y: hidden !important;
}

main {
    .search {
        display: flex;
        overflow: hidden;
        height: calc(100vh - var(--header-height));
        will-change: overflow;

        >div {
            overflow: auto;
            height: auto;
            flex: 1;
        }

        .filters {
            display: none;
            flex: 0 0 var(--filter-width);
            border-right: var(--filter-border);


            .accordion {
                margin: 0;
                padding: 0;
                display: flex;
                height: 100%;
                flex-direction: column;
                gap: 0;

                .accordion-item {
                    >div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        min-height: 100%;

                        .accordion-heading {
                            cursor: pointer;
                            background-color: var(--filter-heading-background-colour);
                            color: var(--filter-heading-colour);
                            display: block;
                            padding: .3em .6em;
                            font-size: 1.3em;
                        }

                        .accordion-content {
                            display: none;
                            position: relative;
                            height: 100%;
                            background-color: var(--filter-body-background-colour);
                            color: var(--filter-body-colour);

                            h3,
                            a {
                                color: var(--filter-body-colour);
                            }
                        }

                    }
                }

                .accordion-item.active {
                    display: flex;
                    flex: 1 1 auto;

                    >div div {
                        display: block;
                    }
                }
            }
        }





        .search-form {
            position: sticky;
            background-color: white;
            top: 0;
            z-index: 999;
            padding: 1em;
        }

        .results {
            >* {
                padding: 1em;
            }
        }
    }
}

@media (min-width: 1000px) {
    main {
        .search {
            .filters {
                display: block;
            }
        }
    }
}


//Filters formatting
main {
    .search {
        .facet-filter {
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-gutter: stable;
            scrollbar-width: thin; // Firefox only
            padding-left: 1em;

            .facet {
                .facet-header {
                    font-weight: 600;
                    font-size: 1.35em;
                }
                margin: 2em 0;
                max-height: 600px;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: thin;

                ul {
                    padding: 0;
                    margin: 1px;

                    li {
                        list-style: none;

                        .facet-count {
                            margin-left: 0.5em;
                            opacity: 75%;
                        }

                        a {
                            color: var(--filter-body-link-colour);
                            white-space: nowrap;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 0.25em;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: darkgrey;
                    outline: 1px solid slategrey;
                }
            }
        }

        // For webkit browsers only
        .facet-filter::-webkit-scrollbar {
            width: 8px;
        }

        .facet-filter::-webkit-scrollbar-track {
            background: var(--primary-colour);
        }

        .facet-filter::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 20px;
            border: 1px solid var(--primary-colour);
        }
    }
}

//MAP
#search {

    .mapsearch {
        position: relative;
        height: 100%;

        ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Save changes"],
        ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Cancel editing, discards all changes"] {
            display: none;
        }

        .map {
            position: relative;
            height: calc(100% - var(--header-height));
        }

        .form-operation {
            padding: 0.6em;
        }
    }

}


//RESULTS FORMATTING
.results__list {
    display: grid;
    gap: 1em;

    .result {
        padding: 1.3em;
        background-color: rgba(0, 0, 0, 0.03);
        color: var(--text-default-color);

        &:hover {
            background-color: rgba(0, 0, 0, 0.06);
            outline: 2px solid @link-hover-color;
            text-decoration: none;
        }

        &__tags {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid lightgray;
            padding-bottom: 5px;
            margin-bottom: 5px;

            div {
                margin-right: 1em;
            }

            .recordType {
                color: #337085;
            }

            .resourceStatus,
            .condition,
            .state {
                font-weight: bold;
                font-size: 1.1rem;
                padding-top: 3px;
            }
        }

        &__title {
            margin: 0 0 0.3em 0;
            font-size: 1.35em;
            line-height: 1.35em;
            color: black;
        }

        &__citationCount {
            text-align: right;
            color: @gray;
            font-size: 1.1rem;
            margin-top: -2px;
        }

        &--pending {
            border-left: darkorange 10px solid;
            background-color: rgba(0, 0, 0, 0.1);
        }

        &--draft {
            border-left: darkred 10px solid;
            background-color: lighten(@gray-light, 30%);
            background-image: repeating-linear-gradient(315deg,
                    transparent,
                    transparent 18px,
                    rgba(139, 0, 0, 0.15) 20px);

            .result__description {
                color: #999;
            }
        }

        &--Available,
        &--Unknown,
        &--Controlled,
        &--In-progress {
            .resourceStatus {
                display: none;
            }
        }

        &--Restricted {
            .resourceStatus {
                color: red;
                text-transform: uppercase;

                &::after {
                    content: " !";
                }
            }
        }

        &--published {
            .state {
                display: none;
            }
        }
    }
}
