// Import our own style sheets
@import "theme";
@import "../node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/less/regular";
@import "../node_modules/@fortawesome/fontawesome-free/less/solid";
@import "message-panel";
@import "search";
@import "mapviewer";
@import "metadata";
@import "editor";
@import "validation";
@import "documents-upload";
@import "upload-simple";

@import "style-serviceagreement";

@fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

//@footer-height: 3.25em;
:root {
  --eidc-blue: hsl(195, 45%, 36%);
  --eidc-orange: hsl(19, 80%, 52%);
  --brand-success: var(--eidc-blue);
  --gray-lighter: var(--eidc-blue);
  --link-hover-colour: var(--eidc-orange);
  --panel-default-text: var(--header-text);

  --filter-heading-background: color-mix(in oklab, var(--eidc-blue), black 5%);
  --filter-heading-colour: hsl(0, 0%, 100%);
  --filter-body-background: var(--eidc-blue);
  --filter-body-colour: hsl(0, 0%, 100%);
  --filter-body-link-colour: hsl(0, 0%, 100%);
  --filter-border: none;

  --header-height: 90px;
  --header-border-width: 8px;
  --header-background-colour: white;
  
  --navbar-margin-bottom: var(--line-height);
  --navbar-default-border: var(--eidc-blue);
  --navbar-border-radius: 0;
  --navbar-default-color: var(--gray-light);
  --navbar-default-border: var(--eidc-blue);
  --navbar-default-link-color: var(--eidc-blue);
  --navbar-default-link-hover-color: var(--link-hover-colour);
  --navbar-default-link-hover-bg: color-mix(
    in oklab,
    var(--navbar-default-bg),
    black 5%
  );
  --navbar-default-link-active-color: var(--navbar-default-link-hover-color);
  --navbar-default-link-active-bg: color-mix(
    in oklab,
    var(--navbar-default-bg),
    black 5%
  );
  --navbar-default-link-disabled-color: #444;
  --navbar-default-link-disabled-bg: transparent;
  --navbar-default-brand-color: var(--navbar-default-link-color);
  --navbar-default-brand-hover-color: #fff;
  --navbar-default-brand-hover-bg: transparent;
  --navbar-default-toggle-hover-bg: #333;
  --navbar-default-toggle-icon-bar-bg: #fff;
  --navbar-default-toggle-border-color: #333;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}

.navbar {
  .navbar-brand {
    margin: 0 0 0 0.35em;
  }
  border-bottom-width: var(--navbar-border-width);
  ul.nav {
    a {
      font-weight: bolder;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0;
        bottom: 2.6rem;
        background: var(--link-hover-colour);
        scale: 0 1;
        transition: scale 250ms;
      }
      &:hover,
      &:focus {
        ::after {
          scale: 1 1;
          transition: scale 250ms;
        }
      }
    }
  }
  &-toggle {
    background-color: black;
    color: white;
  }
}

#editorCreate {
  .dropdown-menu {
    margin-top: -1.7em;
  }
}

.adminToolbar {
  margin-top: 1em;
}

.input-group-addon {
  background-color: #eee;
}

.modal-open {
  padding: 0 !important;
}

.fa-spin-2x {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.text-red {
  color: #ee0000;
}

.panel-right {
  > div {
    margin: 1em 0;
    background-color: #f5f5f5;
    padding: 1em;

    &:last-child {
      border-bottom: none;
    }
  }

  #document-metrics {
    h2 {
      margin: 0;
      font-size: 1.25em;
      border: none;

      i {
        margin-right: 0.35em;
        font-size: 1.85em;
        color: var(--eidc-blue);
      }

      span {
        font-size: 1.85em;
        color: var(--eidc-blue);
      }
    }
  }
}

#document-upload-panel {
  a {
    &:hover {
      color: var(--header-text);
      text-decoration: none;
    }

    div {
      &:hover {
        background-color: var(--eidc-blue);
      }
    }
  }
}

.datatype {
  .admin {
    margin-top: 1em;
  }

  .schemaItem {
    border-bottom: 1px solid #eee;
    margin: 0.5em;
    padding: 0.5em;
  }

  .section {
    &--schema {
      .table-schema {
        .table-condensed;
      }
    }

    &--provenance {
      display: table;

      div {
        display: table-row;

        span:first-child {
          font-weight: bold;
          text-align: right;
        }

        span {
          display: table-cell;
          padding: 0.35em 1em;
        }
      }
    }
  }
}

#editor {
  .optgroup-eidc,
  .optgroup-iso19115 {
    display: initial;
  }
}

/*Change menu collapse breakpoint 
@media (max-width: 1200px) {

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 var(--navbar-border-width) 0;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}*/

a#atlwdg-trigger {
  font-size: 1.5rem;
  padding: 0.25em 1.5em;
  background-color: #337085;
}
@media only screen and (max-width: 820px) {
  a#atlwdg-trigger {
    display: none;
  }
}

