// Import our own style sheets
@import "theme";
@import "../node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/less/regular";
@import "../node_modules/@fortawesome/fontawesome-free/less/solid";
@import "message-panel";
@import "search";
@import "metadata";
@import "editor";
@import "validation";

@fa-font-path: "../fonts";

:root {
    --primary-colour: hsl(111, 50%, 39%);

    --header-background-colour: white;
    --header-link-background-colour: var(--header-background-colour);
    --header-link-hover-background-colour: color-mix(in lab, var(--header-link-background-colour), black 5%);
    --header-link-colour: var(--primary-colour);
    --header-link-hover-colour: var(--link-hover-colour);
    --header-border-colour: var(--primary-colour);
    --header-border-width: 4px;
}
