// Import our own style sheets
@import "theme";
@import "../node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/less/regular";
@import "../node_modules/@fortawesome/fontawesome-free/less/solid";
@import "message-panel";
@import "search";
@import "metadata";
@import "editor";
@import "validation";

@fa-font-path: "../fonts";

@ukeof-green: hsl(111, 50%, 39%);
@brand-success: @ukeof-green;
@gray-lighter: @ukeof-green;
@header-text: #fff;
@link-hover-color: #e74022;
@panel-default-text: @header-text;
