@import "theme";
@import "style-serviceagreement";

@fa-font-path: "../fonts";

@eidc-blue: hsl(195, 45%, 36%);
@brand-success: @eidc-blue;
@panel-default-text: #FFF;

/* CSS custom properties */
:root {
    --eidc-blue: hsl(195, 45%, 36%);
    --primary-colour: var(--eidc-blue);
    --secondary-colour: white;
    --tertiary-colour: hsl(75, 45%, 36%);

    --link-hover-colour: #e75f22;

    --header-height: 95px;
    --header-background-colour: white;
    --header-link-background-colour: var(--header-background-colour);
    --header-link-hover-background-colour: color-mix(in lab, var(--header-link-background-colour), black 5%);
    --header-link-colour: var(--eidc-blue);
    --header-link-hover-colour: var(--link-hover-colour);
    --header-link-weight: 600;
    --header-border-bottom-colour: var(--eidc-blue);
    --header-border-bottom-width: 8px;
    --header-logo-border: none;
    --nav-toggle-colour: var(--header-link-colour);
    --ukceh-brand-display: none;

    --filter-background-colour: var(--eidc-blue);
    --filter-colour: white;
    --filter-width: 500px;
    --filter-heading-colour: white;
    --filter-border-colour: white;
    --filter-border: none;
}

html {
    overflow-y: scroll;
}

footer {
    .container {
        padding: 1em;

        span {
            &:not(:last-of-type)::after {
                content: "|";
                margin: 0 0.6em;
            }
        }

        .altviews {
            span:first-of-type {
                margin-left: 0.6em;
            }
        }
        .footer-links {flex-direction: row; gap:0 2em; grid-column: 1 / -1;}
        .footer-socials {display:none;}
    }
}

.adminToolbar {
    margin-top: 1em;
}

.input-group-addon {
    background-color: #eee;
}

.modal-open {
    padding: 0 !important;
}

.fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.text-red {
    color: #ee0000;
}

.panel-right {
    >div {
        margin: 1em 0;
        background-color: #f5f5f5;
        padding: 1em;

        &:last-child {
            border-bottom: none;
        }
    }

}

.usage {
    container-type: inline-size;
    container-name: usage;

    p {
        text-align: center;
        white-space: nowrap;
        margin-top: .65em;
    }

    .metricsInfo {
        font-size: 90%;
        color: gray;
        text-align: center;
        span {
            display: block;
        }
    }

    div.metrics {
        display: flex;

        .metric {
            display: flex;
            flex: 1;
            align-items: center;
            border-right: 1px solid lightgray;
            padding: 0 1em;

            &:last-of-type {
                border: none;
            }

            white-space:nowrap;

            span {
                font-size: 1.3em;
            }

            a {
                cursor: pointer;
            }
        }
    }

}

@container usage (width >=340px) {
    div.metrics {
        .metric {
            flex-direction: row;
            justify-content: center !important;

            span {
                margin-right: 5px;
            }
        }
    }
}

@container usage (width < 340px) {
    .metric {
        flex-direction: column;

        span {
            font-size: 1.3em;
        }
    }
}


#document-upload-panel {
    a {
        &:hover {
            color: #FFF;
            text-decoration: none;
        }

        div {
            &:hover {
                background-color: @eidc-blue;
            }
        }
    }
}

.datatype {
    .admin {
        margin-top: 1em;
    }

    .schemaItem {
        border-bottom: 1px solid #eee;
        margin: 0.5em;
        padding: 0.5em;
    }

    .section {
        &--schema {
            .table-schema {
                .table-condensed;
            }
        }

        &--provenance {
            display: table;

            div {
                display: table-row;

                span:first-child {
                    font-weight: bold;
                    text-align: right;
                }

                span {
                    display: table-cell;
                    padding: 0.35em 1em;
                }
            }
        }
    }
}

#editor {
    .option-eidc {
        display: initial !important;
    }

    .component.eidconly {
        visibility: visible;
        height: auto;
    }
}


a#atlwdg-trigger {
    font-size: 1.5rem;
    padding: 0.25em 1.5em;
    background-color: #337085;
}

@media only screen and (max-width: 820px) {
    a#atlwdg-trigger {
        display: none;
    }
}
