@import "theme";
@import "style-infrastructurefooter";

@fa-font-path: "../fonts";

:root {
    --primary-colour: hsl(207, 30%, 64%);
}

#pageTitle {
    margin: 2em 0;
}


.fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.contact {
    display: grid;
    grid-template-columns: 30px auto;
    margin-bottom: 3em;

    div {
        >span {
            display: block;
        }
    }
}

.browseimages {
    text-align: center;

    img {
        max-width: 100%;
    }
}

.key-value {
    margin: 2em 0;
    line-height: @line-height-base;

    >div {
        &:first-of-type {
            font-weight: bolder;
            font-size: 1.125em;
        }
    }
}
