// Import our own style sheets
@import "theme";
@import "../node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/less/solid";
@import "../node_modules/@fortawesome/fontawesome-free/less/regular";
@import "../node_modules/@fortawesome/fontawesome-free/less/brands";
@import "message-panel";
@import "search";
@import "mapviewer";
@import "metadata";
@import "editor";
@import "validation";
@import "documents-upload";
@import "upload-simple";

@fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

@ri-blue: hsl(207, 30%, 64%);
@filter-heading-background: @ri-blue;
@footer-height: 16em;
@header-text: @gray-dark;
@line-height: 1.8;
html {
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}

body {
  margin-top: @navbar-height + @navbar-border-width;
  margin-bottom: @footer-height;
}

.navbar-nav {
  .navbar-title {
    a {
      color: white !important;
      font-weight: bold;
    }
  }

  li {
    &:not(.navbar-title) {
      a {
        &:hover {
          border-bottom: white 3px solid;
          padding-bottom: 3px;
        }
      }
    }
  }
}

#pageTitle {
  margin: 2em 0;
}

#adminToolbar {
  margin: 1.5em 0;
}

.input-group-addon {
  background-color: #eee;
}

.modal-open {
  padding: 0 !important;
}

.fa-spin-2x {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.contact {
  display: grid;
  grid-template-columns: 30px auto;margin-bottom:3em;
  div {
    > span {
      display: block;
    }
  }
}

.browseimages {
  text-align: center;
  img {
    max-width: 100%;
  }
}
.key-value {
  margin: 2em 0;
  line-height: @line-height-base;
  > div {
    &:first-of-type {
      font-weight: bolder;
      font-size: 1.125em;
    }
  }
}

@import "style-infrastructurefooter.less";
