// Import our own style sheets
@import "theme";
@import "../node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/less/solid";
@import "../node_modules/@fortawesome/fontawesome-free/less/regular";
@import "../node_modules/@fortawesome/fontawesome-free/less/brands";
@import "message-panel";
@import "search";
@import "mapviewer";
@import "metadata";
@import "editor";
@import "validation";
@import "documents-upload";
@import "upload-simple";

@fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

@ri-blue: hsl(207, 30%, 64%);
@filter-heading-background: @ri-blue;
@footer-height: 16em;
@header-text: @gray-dark;
@line-height: 1.8;
html {
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}

body {
  margin-top: @navbar-height + @navbar-border-width;
  margin-bottom: @footer-height;
}

.navbar-nav {
  .navbar-title {
    a {
      color: white !important;
      font-weight: bold;
    }
  }

  li {
    &:not(.navbar-title) {
      a {
        &:hover {
          border-bottom: white 3px solid;
          padding-bottom: 3px;
        }
      }
    }
  }
}

#pageTitle {
  margin: 2em 0;
}

#adminToolbar {
  margin: 1.5em 0;
}

.input-group-addon {
  background-color: #eee;
}

.modal-open {
  padding: 0 !important;
}

.fa-spin-2x {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.metadata-grid {
  .col1 {
    grid-area: col1;
  }
  .col2 {
    grid-area: col2;
  }
  display: grid;
  grid-template-columns: auto 300px;
  gap: 0 2em;
  grid-template-areas:
    "col2 col2"
    "col1 col1";
}

.description {
  display: grid;
  grid-template-columns: auto fit-content(450px);
  .browseimage {
    display: none;
    img {
      padding: 1em;
      max-width: 100%;
      max-height: 200px;
    }
  }
  .description-text {
    line-height: @line-height;
  }

  @media only screen and (min-width: 640px) {
    .browseimage {
      display: block;
    }
  }
}
.contact {
  display: grid;
  grid-template-columns: 30px auto;margin-bottom:3em;
  div {
    > span {
      display: block;
    }
  }
}

.browseimages {
  text-align: center;
  img {
    max-width: 100%;
  }
}
.key-value {
  margin: 2em 0;
  line-height: @line-height;
  > div {
    &:first-of-type {
      font-weight: bolder;
      font-size: 1.125em;
    }
  }
}

//MEDIA
@media only screen and (min-width: 1020px) {
  .metadata-grid {
    grid-template-areas: "col1 col2";
    .col2 {
      border-left: 1px solid lightgray;
      padding-left: 2em;
    }
  }
}

@import "style-infrastructurefooter.less";
