// Import our own style sheets
@import "theme";
@import "../node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/less/regular";
@import "../node_modules/@fortawesome/fontawesome-free/less/solid";
@import "message-panel";
@import "search";
@import "metadata";
@import "editor";
@import "validation";
@import "documents-upload";
@import "upload-simple";

@fa-font-path: "../fonts";

/*@navbar-height: 51px;*/
@footer-height: 3.25em;
@header-text: @gray-dark;

html {
    overflow-y: scroll;
    min-height: 100%;
    position: relative;
}
body {
    margin-top: @navbar-height + @navbar-border-width;
    margin-bottom: @footer-height;
}

.adminToolbar {
    margin-top: 1em;
}

.input-group-addon {
    background-color: #eee;
}

.modal-open {
    padding: 0 !important;
}

.cy {
    height: 550px;
    width: 100%;
}

.fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}
