span.badge {
    &-VALID          { background-color: @brand-success; }
    &-WARNING        { background-color: @brand-warning; }
    &-ERROR          { background-color: lighten(@brand-danger, 10%); }
    &-FAILED_TO_READ { background-color: @brand-danger; }
}

.validation-results { height: 300px; overflow-y: auto;}
