:root {
    --ukceh-colour-air: #D6EAE6;
    --ukceh-colour-day: #FFFFFF;
    --ukceh-colour-data: #DBFE52;
    --ukceh-colour-earth: #D7B7AA;
    --ukceh-colour-land: #90A968;
    --ukceh-colour-night: #111111;
    --ukceh-colour-water: #477AE2;

    /* UKCEH  fonts */
    --ukceh-font-family-Suisse: 'Suisse International', Arial, sans-serif;
    --ukceh-font-family-Lato: 'Lato', system-ui, sans-serif;
    --ukceh-font-family-Montserrat: 'Montserrat', system-ui, sans-serif;

    --body-background-colour: #fff;
    --text-default-colour: #1d1d1b;

    --primary-colour: var(--ukceh-colour-night);
    --secondary-colour: var(--ukceh-colour-data);
    --tertiary-colour: var(--ukceh-colour-water);

    --link-colour: var(--primary-colour);
    --link-hover-colour: var(--ukceh-colour-data);

    --font-family-body: var(--ukceh-font-family-Suisse);
    --font-family-headers: var(--ukceh-font-family-Suisse);

    --header-background-colour: var(--ukceh-colour-night);
    --header-height: 80px;
    --header-logo-size: calc(var(--header-height) * 0.65);
    --header-link-colour: var(--ukceh-colour-day);
    --header-link-background-colour: var(--header-background-colour);
    --header-link-hover-background-colour: color-mix(in lab, var(--header-link-background-colour), white 25%);
    --header-link-hover-colour: var(--ukceh-colour-data);
    --header-link-weight: 200;
    --header-border-bottom-colour: #bbb;
    --header-border-bottom-width: 1px;
    --dropdownmenu-background: #EEE;
    --dropdownmenu-background-hover: color-mix(in lab, var(--dropdownmenu-background), black 5%);

    --nav-toggle-colour: var(--header-link-colour);

    --filter-width: 350px;
    --filter-background-colour: var(--body-background-colour);
    --filter-colour: black;
    --filter-link-colour: var(--filter-colour);
    --filter-heading-colour: var(--filter-colour);
    --filter-border-colour: #DDD;
    --filter-border: 1px solid var(--filter-border-colour);
    --filter-tab-border-colour: var(--filter-border-colour);
    --search-map-header-height: 145px;

    --footer-background-colour: #333;
    --footer-colour: #fff;
    --footer-link-colour: #fff;
    --footer-link-hover-colour: var(--ukceh-colour-data);

    --font-stack-icons: 'Font Awesome\ 6 Free';

}
