@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";


.document-upload {
    margin-block: 1em;

    .page-header {
        @extend .display-6 !optional;
        @extend .py-3 !optional;
    }

    .return {
        @extend .py-3 !optional;
    }

    .document-upload-section {
        @extend .mt-5 !optional;

        .section-header {
            font-size: 1.8rem;
            @extend .py-3 !optional;
        }

        .total-files {
            font-size: 0.6em;
            margin-inline-start: 1em;
            color: #999;
        }
    }

    .btn-uploader {
        min-width: 220px;
    }

    .dropzone-container {
        border-radius: 1rem;
        padding: 1rem;
        outline: 2px dashed #CCC;
        width: 100%;
        margin-block-end: 16px;

        &:hover,
        &:focus-within {
            outline: orange solid;
        }
    }

    .dropzone-files {
        margin-block-end: 32px;
    }

    .dz-default {
        display: none;
    }

    .no-issue {
        margin-block-start: 16px;
    }

    &-section {
        &:has(.no-documents) {
            display: none;
        }

        &:not(.upload) {
            &:not(:last-of-type) {
                border-block-end: 1px solid #333;
                margin-block-end: 3em;
                padding-block-end: 3em;
            }
        }
    }

    .alert {
        margin: 1em;
    }

    .no-documents {
        color: #bbb;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .filetable-content {

        &-recordInfo {
            @extend .d-flex !optional;
            @extend .py-3 !optional;
            @extend .justify-content-center !optional;

        }

        &-pagination {
            @extend .d-flex !optional;
            @extend .justify-content-center !optional;

            li.active {
                span {
                    background-color: var(--primary-colour);
                    border-color: var(--primary-colour);
                }
            }
        }

        &-searchAll {
            @extend .d-none !optional;
        }

        table {
            tr.table-danger {
                font-weight: 600;

                td {
                    color: #900;
                }

                .btn-actions {
                    @extend .btn-danger !optional;
                }
            }

            tr:not(.table-danger) {
                .btn-actions {
                    @extend .btn-outline-dark !optional;
                }
            }
        }

        .folder-separator {
            color: #AAA;
            margin-inline:0.4rem;
        }

    }

    select {
        option {
            &:checked {
                display: none;
            }
        }
    }

}

.is-non-admin .document-upload .card-footer {
    display: none;
}
