.document-upload {
    margin-block: 1em;

    .row {
        margin-block: .6em;
    }

    .page-header {
        margin-block: 1.6em;
    }

    .total-files {
        font-size: 0.6em;
        margin-inline-start: 1em;
        color: #999;
    }

    .return {
        font-size: 18px;
    }

    .card-file {
        transition: margin ease-in-out 0.2s;
        margin: 16px 0;
        border-radius: 0;

        &.is-collapsed {
            margin: 0 0 -2px;
            border-bottom: 0;

            .card-header-chevron {
                transform: rotate(180deg);
            }

            & .card-body,
            & .card-footer {
                display: none;
            }
        }

        &:last-child {
            margin-block-end: 16px;
        }

        &.card-default .card-header {
            background-color: transparent;
            color: #333;

            &:hover {
                background-color: #eee;
            }
        }

        &.card-danger .card-header:hover {
            background-color: #ffa8a6;
        }

        .card-header {
            display: flex;
            border-radius: 0;

            &:hover {
                cursor: pointer;
            }

            &-chevron {
                transition: transform ease-in-out 0.2s;
                margin-inline-start: auto;
                line-height: 22px;
            }

            &-type {
                margin-inline-start: 12px;
            }
        }

        .card-file-message {
            margin-block-start: 16px;

            &-title {
                font-size: 16px;
                font-weight: bold;
            }

            &-body {
                white-space: pre;
                font-size: 14px;
                margin: 0;
            }
        }

        .card-footer {
            display: flex;

            .buttons {
                .btn {
                    @extend .btn-sm !optional;
                }
            }
        }
    }

    .dropzone-container {
        border-radius: 4px;
        padding: 16px;
        border: 2px dashed #c4c4c4;
        width: 100%;
        margin-block-end: 16px;
    }

    .dropzone-files {
        margin-block-end: 32px;
    }

    .dz-default {
        display: none;
    }

    .no-issue {
        margin-top: 16px;
    }

    &-section {
        border-top: 2px solid #666;
        margin-block: 3em;
        padding-block: 3em;
    }

    .alert {
        margin: 1em;
    }

    .file-head {
        font-size: 16px;
        padding-bottom: 16px;
        margin: 0;
        border-bottom: solid 2px #aaa;
    }

    .file-row {
        margin: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: solid 1px #ccc;
    }

    .file-name,
    .file-size,
    .file-checksum,
    .file-status,
    .file-estimate {
        font-size: 14px;
        height: 36px;
        line-height: 32px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-message {
        font-size: 13px;
        color: #808080;
        margin-block-start: -8px;
    }

    .file-warning {
        color: #f0ad4e;
    }

    .file-danger {
        color: #c9302c;
    }

    .file-warning,
    .file-danger {
        font-weight: bold;
    }

    .file-icon {
        margin-inline-end: 4px;
    }

    .no-documents {
        color: #bbb;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.is-non-admin .document-upload .card-footer {
    display: none;
}
