@use "sass:color";

@import "leaflet-draw/dist/leaflet.draw.css";
@import "leaflet/dist/leaflet.css";
@import "jquery-ui/dist/themes/base/jquery-ui.min.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "select2/dist/css/select2.min.css";
@import "select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css";

.edit-mode {

    a#atlwdg-trigger,
    #createMenu {
        display: none;
    }

    .container {
        max-width: 100%;
    }

    hr {
        opacity: 1;
    }

    footer {
        display: none;
    }

    .metadata,
    #search {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - var(--header-height));
    }

    #map-style-selector {
        button.dropdown-toggle::after {
            content: none;
        }

        .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }

        .icon--circle {
            border-radius: 50%;
        }

        .icon--margin-right {
            margin-right: 0.5em;
        }
    }
}

#editorAjax {
    display: none;

    &.visible {
        display: inline;
    }
}

#deposit-request {

    input,
    select,
    textarea {
        border-color: #999;
    }

    select {
        option {
            &:checked {
                display: none;
            }
        }
    }

    input.form-control,
    textarea.form-control {
        &::placeholder {
            color: #BBB;
        }
    }

    textarea.form-control {
        field-sizing: content;
        min-height: 100px;
    }

    .is-invalid {
        outline: 2px solid #FF000055;
    }

    .invalid-feedback {
        font-weight: 600;
    }

    .editor-remove {
        display: grid;
        grid-template-columns: auto 30px;
        gap: 1em;
        @extend .border !optional;
        @extend .border-1 !optional;
        @extend .p-4 !optional;
        @extend .my-3 !optional;
        border-radius: 5px;

        .editor-button-remove {
            @extend .btn !optional;
            @extend .btn-light !optional;
            @extend .border !optional;
            @extend .btn-sm !optional;
        }
    }
}

.metadata,
#search {
    .editor {
        --_requiredIndicator: rgb(207, 104, 7);
        display: flex;
        flex-direction: column;
        min-height: 100dvh;

        #editorNav li {
            cursor: pointer;
        }

        .editor-menu {
            position: sticky;
            top: var(--header-height);
            background-color: #eee;
            z-index: 1000;
            padding: 0;

            >div {
                padding-inline: 1em;

                span.active {
                    font-weight: 600;
                }

                span:not(.active) {
                    display: none;
                }

                display: flex;
                flex-direction: row;
                gap: 0 1em;
                justify-content: space-between;

                .editor-nav {
                    align-content: center;
                }

                .editor-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 0.25em;
                    padding-block: 1em;
                }
            }
        }

        .editor-body {
            padding: 1em;

            input,
            textarea,
            select {
                color: inherit;

                &:user-invalid {
                    outline: 3px solid #FF000033;
                }
            }

            select:not(#input-accessLimitation) {
                @extend .form-select !optional;
                @extend .form-select-sm !optional;
            }

            .editor-input {
                @extend .form-control !optional;
                @extend .form-control-sm !optional;
                color: #000;
                appearance: auto;

                &::placeholder {
                    color: #AAA;
                }
            }

            textarea.editor-textarea {
                @extend .form-control !optional;
                @extend .form-control-sm !optional;
                color: #000;
                field-sizing: content;
                min-height: var(--textarea-height, 0);

                &#input-description,
                &#input-lineage {
                    --textarea-height: 200px;
                }
            }

            input.editor-input,
            select.form-select,
            textarea.editor-textarea {

                &:focus-visible {
                    color: inherit;
                }
            }

            .editor-remove {
                display: grid;
                grid-template-columns: auto 50px;
                gap: 0.6em;

                .editor-button-remove {
                    margin-block-start: 1rem;
                }

                >div {
                    margin: 0 !important;
                    padding: 0.2em 0.6em;
                }
            }

            .extended {
                .row {
                    @extend .my-2 !optional;
                }
            }

            .dataentry:has(.ror) {
                div:has(>.orgAutocomplete) {
                    margin-block-end: -25px;

                    &:after {
                        font-family: var(--font-stack-icons);
                        font-weight: 900;
                        content: var(--hasrorcontent, "\f06a");
                        color: var(--hasrorcolor, lightgray);
                        position: relative;
                        top: -30px;
                        right: calc(-100% + 25px);
                    }
                }
            }

            .dataentry:not(:has(.ror:placeholder-shown)) {
                div:has(>.orgAutocomplete) {
                    &:after {
                        --hasrorcontent: url(/static/img/ror_16x16.png) "\f00c" / "has valid RoR";
                        --hasrorcolor: green;
                        font-size: .8rem;
                        right: calc(-100% + 36px);
                    }
                }
            }

            .ui-sortable {
                .row {
                    .provenance {
                        border-block-end: 1px solid #eee;
                        margin-block-end: 0.25em;
                        padding: 0.5em 0;
                    }

                    &:last-child {
                        .provenance {
                            border-block-end: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }

            .editor-button {
                @extend .btn !optional;
                @extend .btn-light !optional;
                @extend .border !optional;
                @extend .btn-sm !optional;
                @extend .float-end !optional;
            }

            .editor-button-xs {
                @extend .btn !optional;
                @extend .btn-light !optional;
                @extend .border !optional;
                @extend .btn-sm !optional;
                @extend .float-end !optional;
            }

            .editor-button-remove {
                @extend .btn !optional;
                @extend .btn-light !optional;
                @extend .border !optional;
                @extend .btn-sm !optional;
            }

            .btn-showmore {
                --bs-btn-padding-y: .25rem;
                --bs-btn-padding-x: .5rem;
                --bs-btn-font-size: .75rem;
                --bs-btn-bg: #ddd;
                --bs-btn-hover-bg: #ccc;
            }

            .editor-help {
                @extend .form-text !optional;
                @extend .d-print-none !optional;
                @extend .collapse !optional;
                padding: 1em;
                margin-block-start: 1em;
                background-color: #eee;
                border-radius: .75em;
                font-size: 12px;
                line-height: 1.5;
            }

            .legilo {
                margin-inline-start: 0.6em;

                .loader {
                    margin-inline-start: 0.6em;
                }
            }

            .component {
                display: none;

                &:not(.multiline) {
                    .row {
                        .row {
                            @extend .m-0 !optional;
                        }
                    }
                }


                &.multiline {
                    .row {
                        .row {
                            @extend .mx-0 !optional;
                            @extend .mt-0 !optional;
                            @extend .mb-2 !optional;
                        }
                    }
                }

                &:not(:last-of-type) {
                    border-block-end: 1px solid gray;
                    padding-bottom: 1.25em;
                    margin-bottom: 1rem;
                }

                &.visible {
                    display: block;

                    &.eidconly {
                        display: var(--eidc-component-display, none);
                    }
                }

                &--textonly {
                    border-block-end: none !important;
                    margin-block-end: 0 !important;
                    padding-bottom: 0 !important;
                }

                .component {
                    border-style: solid;
                    border-width: 1px;
                    border-color: color.adjust($gray-light, $lightness: 15%, $space: hsl);
                    border-radius: 5px;
                    padding: 0.5em;
                    margin-block-end: 1.25em;
                }

                .row {
                    &:has(.dataentry) {
                        margin-block-end: 1.6rem;
                    }

                    label {
                        font-weight: 600;

                        small {
                            font-weight: normal;
                            color: gray;

                            &:before {
                                content: "\A";
                                white-space: pre-wrap;
                            }
                        }
                    }
                }

                .dataentry {
                    legend {
                        font-size: 18px;
                        font-weight: bold;
                        margin-block-end: 0;
                    }

                    label {
                        font-size: 85%;
                        font-weight: 600;

                        a {
                            margin-inline-start: 0.5em;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    &.child {
                        z-index: 0;
                        @extend .my-2 !optional;

                        >.row {
                            @extend .my-1 !optional;
                        }
                    }
                }

                .btnSchemaDetail {
                    @extend .btn !optional;
                    @extend .btn-light !optional;
                    @extend .border !optional;
                    @extend .btn-sm !optional;
                    text-align: right;

                    span:before {
                        content: "hide ";
                    }
                }

                .btnSchemaDetail.collapsed {
                    span:before {
                        content: "show " !important;
                    }
                }
            }

            .requiredInfo {
                color: var(--_requiredIndicator);
                font-weight: 600;
            }

            .required:not(:has(.child)) {
                label {
                    color: var(--_requiredIndicator);

                    &:before {
                        content: "*"
                    }
                }

                input,
                textarea {
                    border-block-end: 2px var(--_requiredIndicator) solid !important;
                }
            }

            .multiline .existing>.row {
                border-style: solid;
                border-width: 1px;
                border-color: color.adjust($gray-light, $lightness: 15%, $space: hsl);
                border-radius: 5px;
                padding: 4px;
                margin: 0.5rem 0;
            }

            .dropdown {
                @extend .float-end !optional;
                display: inline-block;
            }

            .keyword-add {
                display: inline-block;
                float: left;
            }

            .keywords {
                .uri:disabled {
                    font-style: italic;
                }
            }

            .supdocContent {
                fieldset {
                    legend {
                        margin-block: 1em;
                    }

                    label {
                        margin-inline-start: 2em;

                        input {
                            margin-inline-end: 0.5em;
                        }
                    }
                }
            }

            #input-accessLimitation,
            #input-accessLimitation::picker(select) {
                appearance: base-select;
                font-size: 0.8rem;
                width: 100%;
            }

            #input-accessLimitation {
                &::picker-icon {
                    color: #999999;
                    transition: 0.4s rotate;
                }

                border-color: #AAA;

                span {
                    display: block;
                    color: #888;
                    font-size: 0.7rem;
                }

                option {
                    padding-left: 1.35em;

                    &:checked {
                        background-color: var(--ukceh-colour-data);
                    }

                    &::checkmark {
                        margin-left: -0.7em;
                    }
                }
            }


            // VOCAB KEYWORD PICKER STYLES
            .vocabularyPicker {
                display: flex;
                gap: 0.25em 1.25em;
                flex-wrap: wrap;

                .vocab {
                    label {
                        span {
                            font-weight: normal;
                        }
                    }
                }
            }

            .dataentry.child:has(.keywordPicker):not(:has(.d-none)) {
                padding-bottom: 1.2em;
                padding-block-start: 1.2em;
            }

            input.autocomplete::placeholder {
                font-weight: bold;
                font-style: italic;
                opacity: 0.5;
                color: blue;
            }

            .dropdown-menu.predefined {
                margin-block-end: 70px;
                max-height: 350px;
                overflow: auto;
                position: relative;
            }

            .validation {
                display: none;
            }

            .readonly {
                font-size: 90%;
                color: #aaa;
                line-height: 2.5em;
            }

            .ui-sortable,
            .ui-sortable-handle {
                cursor: move;
            }

            .catalogueSearch {
                margin-block-end: 1em;

                input {
                    font-size: 0.9em;
                }
            }

            // Hide the leaflet 'save' button as it is never used: https://stackoverflow.com/questions/51360283/how-to-remove-save-option-from-leaflet-draw-api-delete-button
            .leaflet-draw-actions li:first-child a[title="Save changes"] {
                visibility: hidden;
                width: 0;
                padding: 0;
            }
        }


        .form-control {

            &[readonly],
            &[disabled] {
                background-color: color.adjust($gray-light, $lightness: 30%, $space: hsl);
                color: $gray;
            }
        }

        #editorValidationMessage {
            .modal-body {
                color: #f00;
                font-weight: bold;
            }
        }

        ul.ui-autocomplete {
            li.ui-menu-item {
                font-size: 0.8em;
                font-family: var(--font-family-sans-serif), serif;
            }
        }

        .ui-autocomplete {
            max-height: 350px;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-gutter: stable;
            scrollbar-width: thin;


            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: #999;
            }
        }

        .mapDataSource-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
        }
    }
}

.relationship-autocomplete {
    border-color: transparent;

    div.ui-menu-item-wrapper {
        border-block-end: 1px solid lightgray;

        &:hover,
        &:focus-visible {
            background-color: var(--ukceh-colour-data);
            color: black;
        }

        span {
            display: block;
            color: gray;
            font-size: .9rem;
        }
    }
}

@media only screen and (min-width: 600px) {

    .metadata,
    #search {
        .editor {
            flex-direction: row;

            .editor-menu {
                min-height: 0;
                flex: 0 0 clamp(200px, 20vw, 300px);

                >div {
                    position: sticky;
                    top: var(--header-height);
                    min-height: calc(100dvh - var(--header-height));
                    flex-direction: column;
                    gap: 1em 0;
                    padding-inline: 0;

                    .editor-nav {

                        span {
                            display: block;
                            padding: 0.5em 2em 0.5em 0.5em;
                            text-align: right;

                            &:hover {
                                background-color: lightgray;
                            }
                        }

                        .active {
                            background-color: white;
                            padding: 1em 0.5em;

                            &::after {
                                content: " >";
                            }
                        }
                    }

                    .editor-buttons {
                        flex-wrap: wrap;
                        gap: 0.5em 1em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 995px) {
    .col-sm-11.dataentry.child.child-large {
        .row {
            >div:has(>label) {
                text-align: right;
            }
        }
    }
}
