@use "sass:color";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.metadata {

    a {
        word-break: break-word;
    }

    .key-value {
        margin-block-end: 1.6em;

        .key {
            font-weight: 600;
            text-align: left;

            @media only screen and (min-width: 576px) {
                text-align: right;
            }
        }
    }

    .tableOfContents {
        >div {
            top: 8em;
        }

        a:focus {
            background-color: transparent;
        }

        a.active {
            background-color: #ddd;
            color: black;
            font-weight: 600;
            border: 0;
        }

        a:empty {
            display: none;
        }
    }

    .content {
        @extend .col-xl-9 !optional;
        @extend .col-lg-8 !optional;
        @extend .col-md-7 !optional;
        @extend .ms-4-md !optional;

        >div {
            scroll-margin-top: 120px
        }
    }

    .description {
        display: grid;
        grid-template-columns: auto fit-content(450px);

        .browseimage {
            mix-blend-mode: multiply;
            display: none;

            img {
                padding: 1em;
                max-width: 300px;
                max-height: 600px;
            }
        }

        @media only screen and (min-width: 640px) {
            .browseimage {
                display: block;
            }
        }
    }

    #segment-title {

        h1 {
            text-wrap: balance;
        }

        .alert-In-progress,
        .alert-Embargoed {
            @extend .alert !optional;
            @extend .alert-info !optional;
        }

        .alert-Superseded,
        .alert-Withdrawn {
            @extend .alert !optional;
            @extend .alert-danger !optional;
        }
    }

    .publicationDate {
        margin-block-start: 1.6em;
        font-weight: 600;
    }

    #latestVersion {
        margin-block-end: 1.5em;

        .otherVersions {
            margin-inline-start: 0.6em;
            color: $link-color;

            &:hover {
                color: $link-hover-color;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        ul {
            li {
                a {
                    font-size: 0.85em;
                    padding: 0.75em 1.5em;
                }
            }
        }
    }

    .missingResourceType {
        margin: 4em 0;

        a {
            margin-inline-start: 1em;
            @extend .btn !optional;
            @extend .btn-danger !optional;
            @extend .btn-sm !optional;
        }
    }

    .distribution-dataset {
        >div {
            margin-block-end: 2em;
        }

        .licenceText {
            .ogl-logo {
                margin-block-start: 0.3em;
                @extend .float-end !optional;
            }
        }
    }

    .modal:has(.modal-citation) {
        --bs-modal-zindex: 2001;
        --bs-modal-width: 600px;
    }

    .topDOI {
        @extend .py-3 !optional;
        @extend .border !optional;
        @extend .border-2 !optional;
        @extend .border-end-0 !optional;
        @extend .border-start-0 !optional;
    }

    .accessButtons {

        gap: .5em 1em;
        --btn_width: 170px;

        >.btn {
            flex: 0 1 var(--btn_width);
            text-wrap: nowrap;
        }

        >div {
            flex: 0 1 var(--btn_width);
            text-wrap: nowrap;

            .btn,
            ul {
                width: 100%
            }
        }

        .btn-download {
            --bs-btn-bg: var(--eidc-blue);
            --bs-btn-color: var(--bs-white);
            --bs-btn-hover-bg: color-mix(in oklab, lightgray 40%, var(--eidc-blue));
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-border-color: var(--eidc-orange);
        }

        .btn-access {
            --bs-btn-bg: color-mix(in oklab, lightgray 30%, var(--eidc-blue));
            --bs-btn-color: var(--bs-white);
            --bs-btn-hover-bg: color-mix(in oklab, lightgray 80%, var(--eidc-blue));
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-border-color: var(--eidc-orange);
        }

    }

    .offcanvas-access {
        --bs-offcanvas-width: min(700px, 70%);
    }

    #segment-description {
        margin: 1em 0;
        padding-block-start: 1em;
    }

    #segment-thirdparty {
        display: block;
    }

    #segment-children {
        margin-block-start: 3em;
    }

    #segment-citations {
        .citations {
            max-height: 500px;
            overflow-y: auto;
            overflow-x: clip;
            padding-inline-end: 0.5em;
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #ccc;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:focus {
            background: #888;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }
    }

    .supplement,
    .citation {
        margin: 2em 0;
        overflow: hidden;
    }

    .alert {
        p:last-of-type {
            margin-block-end: 0
        }
    }

    h2 {
        margin-block-start: 2.5em;
        border-block-end: 1px solid $gray-light;
        padding-block-end: 6px;
    }

    .ukcehcards {
        display: flex;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;

        a.ukcehcard {
            --_ukcehcard-repeat: 3;
            --_ukcehcard-display: grid;
            --_ukcehcard-background: hsl(0, 0%, 100%);
            --_ukcehcard-border-colour: var(--primary-colour);
            --_ukcehcard-border-style: solid;
            --_ukcehcard-text-colour: black;
            --_ukcehcard-link-colour: inherit;
            --_ukcehcard-icon-colour: var(--_ukcehcard-border-colour);

            display: var(--_ukcehcard-display);
            flex: 0 0 calc((100% - calc(var(--_ukcehcard-repeat) * 1em) + 1em) / var(--_ukcehcard-repeat));
            grid-template-columns: 70px auto;
            background-color: var(--_ukcehcard-background);
            border: 2px var(--_ukcehcard-border-style) var(--_ukcehcard-border-colour);
            border-radius: 6px;
            text-decoration: none; padding:0.5em;
            text-wrap: balance;
            color: var(--_ukcehcard-text-colour);

            .content {
                display: flex;
                gap: 1em;
                flex-direction: row;
            }

            .ukcehcard-icon {
                padding-block:0.5em;
                color: var(--_ukcehcard-icon-colour);
            }

            .ukcehcard-type {
                color: #999;

                span {
                    display: none;
                    margin-inline-end: 1em;
                    text-transform: uppercase;
                    font-size: 80%;
                    font-weight: 600;
                }
            }

            .ukcehcard-title {
                color: var(--_ukcehcard-text-colour);
            }

            &-hidden {
                --_ukcehcard-display: none;
            }

            &-draft {
                --_ukcehcard-background: hsl(0, 0%, 95%);
                --_ukcehcard-border-colour: #BBB;
                --_ukcehcard-text-colour: #BBB;
                --_ukcehcard-icon-colour: #BBB;
                --_ukcehcard-border-style: dashed;

                .ukcehcard-type {
                    span {
                        display: inline;
                    }
                }
            }

            &-pending {
                --_ukcehcard-border-colour: #444;
                --_ukcehcard-text-colour: #444;
                --_ukcehcard-icon-colour: #BBB;
                --_ukcehcard-border-style: dashed;

                .ukcehcard-type {
                    span {
                        display: inline;
                    }
                }
            }

            &-draft,
            &-pending {
                &:hover {
                    --_ukcehcard-background: lightgray;
                    --_ukcehcard-text-colour: gray;
                    --_ukcehcard-icon-colour: gray;
                }
            }
        }

        a.ukcehcard:hover {
            --_ukcehcard-background: var(--primary-colour);
            --_ukcehcard-text-colour: white;
            --_ukcehcard-icon-colour: white;

            text-decoration: none;

            .fa-inverse {
                color: var(--_ukcehcard-background);
            }

            .ukcehcard-type {
                color: var(--_ukcehcard-text-colour);
            }
        }

    }

    #adminPanel {
        margin-block: 1em;

        #adminToolbar,
        .adminToolbar {
            .btn-wide {
                min-width: 10em;
            }

            .dropdown-menu.show {
                z-index: 1030;
            }
        }

        ul {
            a {
                font-size: 90%;
            }

            div.msg {
                margin: 1em;
                white-space: nowrap;
            }
        }
    }

    .studyarea-map,
    .geometry-map {
        height: 300px;
        width: 300px;
    }

    .mintDOI {
        margin: 0 1em;
    }

    .card {
        --_border-radius: 0.5em;
        overflow-wrap: break-word;
        border-radius: var(--_border-radius);

        &,
        &-header {
            border-radius: var(--_border-radius) var(--_border-radius) 0 0;
        }

        &-header {
            padding: 0.5em 1em;
        }
    }

    .externalVocabularyLink {
        font-size: 0.85em;
    }

    .responsibleParty {
        a.contactEmail {
            margin-inline-start: 0.5em;
            font-size: 75%;
        }

        a.contactEmail:hover {
            background-color: #99aefd;
            color: #fff;
            text-decoration: none;
        }

        .nameIdentifier {
            font-size: 90%;

            span {
                font-size: 80%;
                margin-inline-start: 0.75em;
            }
        }

        margin-block-end: 1.5em;

        address {
            margin-block-end: 0;
        }
    }

    .responsiblePartyCollapse.trigger.collapse {
        display: block
    }

    .responsiblePartyCollapse.trigger {
        &:not(.in) {
            a.moreAuthors {
                &::after {
                    content: "more ↓";
                }

                span {
                    display: inline;
                }
            }
        }

        &.in {
            a.moreAuthors {
                &::after {
                    content: "fewer ↑";
                }

                span {
                    display: none;
                }
            }
        }
    }

    #document-upload-panel {
        border-radius: 0;

        .card-body {
            padding: 1em;

            p {
                font-weight: bold;
                font-size: 1.2em;
                margin: 0;
            }
        }
    }

    .funding {
        .award {
            .awardNumber {
                margin-inline-start: 2em;
            }
        }
    }

    #segment-associations {
        div {
            margin-block-end: 2.5em;

            p {
                margin: 0 0 0.4em 3em;
            }
        }
    }

    #segment-onlineResources {
        p {
            margin-block-end: 1.5em;
        }
    }

    .metadataQuality {
        --_quality-success: hsl(120, 100%, 25%);
        --_quality-warning: hsl(34, 100%, 50%);
        --_quality-info: hsl(240, 100%, 50%);
        --_quality-error: hsl(0, 100%, 50%);

        &_error {
            --_qualityColor: var(--_quality-error);

            li {
                font-weight: bold;
            }
        }

        &_warning {
            --_qualityColor: var(--_quality-warning);
        }

        &_info {
            --_qualityColor: var(--_quality-info);
        }

        span {
            margin: 0 1.2em;
        }

        &-report {
            .qualityHeader {
                padding: 0.65em;
                color: #fff;
                background-color: var(--_qualityColor);
            }

            li {
                background-color: color-mix(in oklab, var(--_qualityColor), white 70%);
            }

            span {
                color: #00d;

                &::before {
                    content: " «";
                }

                &::after {
                    content: "» ";
                }
            }
        }
    }

    .description {
        >div {
            display: grid;
            gap: 2em;
        }

        .browseGraphic {
            @extend .float-end !optional;
            margin: 0 0 1em 2em;
            max-width: 350px;
            max-height: 197px;
        }

        .usage {
            >div {
                background-color: #eee;
                border-radius: 6px;
                padding: 1em 0.5em;

                .metrics {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;

                    .metric {
                        line-height: 1.1;
                        text-align: center;
                        --size: 1.6rem;
                        font-size: var(--size);

                        span {
                            font-size: calc(var(--size) / 1.75);
                            display: block;
                        }
                    }
                }

                p {
                    line-height: 1.2;
                    text-align: center;
                    min-width: 16ch;
                    margin-block-start: 1.25em;
                    margin-block-end: 0;
                }

                .metricsInfo {
                    font-size: 0.8rem;
                    margin-block-start: 1.25em;
                    margin-block-end: 0;

                    span {
                        display: block;
                        margin-block-end: 0.65em;
                        text-align: center;
                        ;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1001px) {
        .description {
            >div {
                grid-template-columns: auto fit-content(0);
            }

            .usage {
                >div {
                    .metrics {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    /*SIGNPOST*/
    .signpost-content {
        .signpost-logo {
            grid-area: signpost-logo;
            justify-self: right;
        }

        .signpost-text {
            grid-area: signpost-text;
        }

        .signpost-url {
            grid-area: signpost-url;
        }
    }

    #segment-title {
        .signpost-logo {
            display: none;
        }

        .signpost-logo img {
            max-width: 140px;
        }

        .signpost-content {
            display: grid;
            gap: 1em;
            grid-template-columns: auto fit-content(120px);
            grid-template-areas:
                "signpost-text signpost-text"
                "signpost-url signpost-url";
        }

        @media only screen and (min-width: 420px) {
            .signpost-content {
                grid-template-areas:
                    "signpost-text signpost-logo"
                    "signpost-url signpost-logo";
            }

            .signpost-logo {
                display: block;
            }
        }
    }

    .distribution-signpost {
        .signpost-logo {
            img {
                max-width: 140px;
            }
        }

        .signpost-content {
            display: grid;
            gap: 1em;
            grid-template-columns: auto fit-content(200px);
            grid-template-areas:
                "signpost-logo signpost-logo"
                "signpost-text signpost-text"
                "signpost-url signpost-url";

            .signpost-logo {
                justify-self: center;
            }
        }

        @media only screen and (max-width: 1020px) and (min-width: 420px) {
            .signpost-content {
                grid-template-areas:
                    "signpost-text signpost-logo"
                    "signpost-url signpost-logo";

                .signpost-logo {
                    justify-self: right;
                }
            }
        }
    }
}

#publication {
    div {
        margin: 4em auto;
        text-align: center;

        .btn {
            min-width: 18em;
        }
    }
}

.ceh-model {
    .description {
        margin-block-end: 2em;
    }

    section {
        h2 {
            color: gray;
            margin-block-start: 4em;
            border: none;
        }
    }
}

.codeDocument {
    .adminToolbar {
        position: absolute;
        top: 8rem;
        left: min(calc(100vw - 20em), 1120px);
        width: fit-content;
    }

    .grid {
        display: grid;
        grid-template-columns: auto 280px;
        grid-template-areas:
            "one one"
            "two two"
            "three three";

        .grid--one {
            grid-area: one;
        }

        .grid--two {
            grid-area: two;
        }

        .grid--three {
            grid-area: three;
        }

        @media screen and (min-width: 850px) {
            --gridspacing: 1em;
            grid-template-areas:
                "one two"
                "three two";

            .grid--two {
                >div {
                    border-inline-start: 1px solid lightgray;
                    padding-inline-start: var(--gridspacing);
                    margin-inline-start: var(--gridspacing);
                }
            }
        }
    }
}

/********** Monitoring Records *************/
.metadata-monitoring {
    h2 {
        clear: both;
        padding-block-start: 2em;
    }


    a {
        &.availability-inactive {
            text-decoration: line-through;
            color: #BBB;
        }
    }

    .studyarea-map,
    .geometry-map {
        min-height: 500px;
        width: 100%;
    }

    .displayFeatures {
        margin-block: 1em;
        display: flex;
        flex-wrap: wrap;

        .featureMap {
            flex: 0 0 100%;
        }

        .featureList {
            flex: 0 0 100%;
            padding-inline: 1em;
            overflow-y: auto;
            overflow-x: none;
            max-height: 500px;

            .key {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 1020px) {
    .col-3:has(#tableOfContents) {
        border-inline-start: 1px solid lightgray;
        padding-inline-start: 2em;
    }
}

@media only screen and (min-width: 990px) {
    .metadata-monitoring {
        .displayFeatures {
            .featureMap {
                flex: 1 0 60%;
            }

            .featureList {
                flex: 0 1 40%;
            }
        }
    }
}
