@use "sass:color";


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.metadata {

    a {
        word-break: break-word;
    }

    .key-value {
        margin-block-end: 1.6em;

        .key {
            font-weight: 600;
            text-align: left;
        }
    }

    .tableOfContents {

        @extend .d-print-none !optional;

        >div {
            top: 8em;
        }

        a:focus {
            background-color: transparent;
        }

        a.active {
            background-color: #ddd;
            color: black;
            font-weight: 600;
            border: 0;
        }

        a:empty {
            display: none;
        }
    }

    .content {
        @extend .col-xl-9 !optional;
        @extend .col-lg-8 !optional;
        @extend .col-md-7 !optional;
        @extend .ms-4-md !optional;

        >div {
            scroll-margin-top: 120px
        }
    }


    .description {
        display: flex;
        gap: 2em;
        flex-wrap: wrap;

        .description-text {
            flex: 2 1 65ch;

            img.browseGraphic {
                @extend .mb-3;
                @extend .float-md-end;
                @extend .col-md-6;
                @extend .ms-md-5;
                mix-blend-mode: multiply;
                width: auto;
                height: auto;
                max-width: max(100%, 350px);
                max-height: 250px;

            }
        }

        .usage {
            flex: 1 0 14ch;

            >div {
                background-color: #eee;
                padding: 1em 0.5em;

                .metrics {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em 2em;
                    justify-content: space-around;
                    align-items: center;

                    .metric {
                        line-height: 1.1;
                        text-align: center;
                        font-size: 1.6rem;
                        min-width: 10ch;

                        span {
                            display: block;
                            font-size: .9rem;
                        }
                    }
                }

                .metricsInfo {
                    font-size: 0.9rem;
                    margin-block-start: 1.25em;
                    margin-block-end: 0;

                    .seemore {
                        background-color: var(--ukceh-colour-night);
                        color: var(--ukceh-colour-day);
                        padding: .25em 1em;
                    }

                    >div a {
                        margin-block-start: 0.65em;
                        display: block;
                        line-height: 1rem;
                    }
                }

                .metricsDatesMore {
                    border: 1px solid var(--ukceh-colour-night);
                    ;

                    >div {
                        padding: .65em;
                    }
                }
            }
        }
    }

    .alert {
        border-radius: 0;

        &-data {
            background-color: var(--ukceh-colour-data);
        }

        &-water {
            background-color: var(--ukceh-colour-water);
            color: var(--ukceh-colour-day);

            a {
                color: var(--ukceh-colour-data);
            }
        }

        &-In-progress,
        &-Embargoed,
        &-Superseded,
        &-Withdrawn {
            @extend .alert !optional;
            @extend .alert-water !optional;
        }
    }

    #segment-title {

        h1 {
            text-wrap: balance;
            font-weight: 400;
        }

        .authorList {
            span {
                &:not(:first-child) {
                    margin-inline-start: .5rem;
                }

                &:not(:last-child) {
                    margin-inline-end: .1rem;
                }

            }
        }
    }

    .publicationDate {
        margin-block-start: 1.6em;
        font-weight: 600;
    }

    #latestVersion {
        margin-block-end: 1.5em;

        .otherVersions {
            margin-inline-start: 0.6em;
            color: $link-color;

            &:hover {
                color: $link-hover-color;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        ul {
            li {
                a {
                    font-size: 0.85em;
                    padding: 0.75em 1.5em;
                }
            }
        }
    }

    .dataExplorer {
        height: 700px;

        iframe {
            width: 100%;
            height: 100%;
            ;
        }
    }

    .missingResourceType {
        margin: 4em 0;

        a {
            margin-inline-start: 1em;
            @extend .btn !optional;
            @extend .btn-danger !optional;
            @extend .btn-sm !optional;
        }
    }

    .distribution-dataset {
        >div {
            margin-block-end: 2em;
        }

        .licenceText {
            .ogl-logo {
                margin-block-start: 0.3em;
                @extend .float-end !optional;
            }
        }
    }

    .modal:has(.modal-citation) {
        --bs-modal-zindex: 2001;
        --bs-modal-width: 600px;
    }

    .topDOI {
        @extend .py-2 !optional;
    }


    .accessButtons:not(:empty) {
        @extend .py-3 !optional;
        @extend .d-flex !optional;
        @extend .flex-row !optional;
        @extend .align-items-center !optional;
        @extend .flex-wrap !optional;
        @extend .d-print-none !optional;
        @extend .border-bottom !optional;
        @extend .border-1 !optional;

        gap: .5em 1em;
        --btn_width: 170px;

        >.btn {
            flex: 0 1 var(--btn_width);
            text-wrap: nowrap;
            text-decoration: none;
        }

        >div {
            flex: 0 1 var(--btn_width);
            text-wrap: nowrap;

            .btn,
            ul {
                width: 100%
            }
        }
    }

    .offcanvas-access {
        --bs-offcanvas-width: min(700px, 70%);
    }

    #segment-description {
        margin: 1em 0;
    }

    #segment-thirdparty {
        display: block;
    }

    #segment-children {
        margin-block-start: 3em;
    }

    #segment-citations {
        .citations {
            max-height: 500px;
            overflow-y: auto;
            overflow-x: clip;
            padding-inline-end: 0.5em;
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #ccc;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:focus {
            background: #888;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }
    }

    .supplement,
    .citation {
        margin: 2em 0;
        overflow: hidden;
    }

    .alert {
        p:last-of-type {
            margin-block-end: 0
        }
    }

    h2 {
        margin-block-start: 2.5em;
        border-block-end: 1px solid $gray-light;
        padding-block-end: 6px;
    }

    .ukcehcards {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        flex-wrap: wrap;

        a.ukcehcard {
            --_ukcehcard-background: hsl(0, 0%, 100%);
            --_ukcehcard-border-colour: var(--ukceh-colour-night);
            --_ukcehcard-border-style: solid;
            --_ukcehcard-text-colour: black;
            --_ukcehcard-link-colour: inherit;
            --_ukcehcard-icon-colour: var(--_ukcehcard-border-colour);

            display: var(--_ukcehcard-display, grid);
            flex: 0 0 calc((100% - calc(var(--_ukcehcard-repeat, 3) * 1em) + 1em) / var(--_ukcehcard-repeat, 3));
            grid-template-columns: var(--_ukcehcard-icon-width, 70px) auto;
            background-color: var(--_ukcehcard-background);
            border: 2px var(--_ukcehcard-border-style) var(--_ukcehcard-border-colour);
            border-radius: 6px;
            text-decoration: none;
            padding: var(--_ukcehcard-padding, 0.5em);
            text-wrap: balance;
            color: var(--_ukcehcard-text-colour);

            .ukcehcard-icon {
                padding-block: 0.5em;
                color: var(--_ukcehcard-icon-colour);
            }

            .ukcehcard-content {
                display: flex;
                gap: 0 1em;
                flex-direction: var(--_ukcehcard-content-flex-direction, column);

                .ukcehcard-type {
                    color: #999;
                    @extend .small;

                    span {
                        display: none;
                        margin-inline-end: 1em;
                        text-transform: uppercase;
                        font-size: 80%;
                        font-weight: 600;
                    }
                }

                .ukcehcard-title {
                    color: var(--_ukcehcard-text-colour);
                }
            }

            &-hidden {
                --_ukcehcard-display: none;
            }

            &-draft {
                --_ukcehcard-background: hsl(0, 0%, 95%);
                --_ukcehcard-border-colour: #BBB;
                --_ukcehcard-text-colour: #BBB;
                --_ukcehcard-icon-colour: #BBB;
                --_ukcehcard-border-style: dashed;

                .ukcehcard-type {
                    span {
                        display: inline;
                    }
                }
            }

            &-pending {
                --_ukcehcard-border-colour: #444;
                --_ukcehcard-text-colour: #444;
                --_ukcehcard-icon-colour: #BBB;
                --_ukcehcard-border-style: dashed;

                .ukcehcard-type {
                    span {
                        display: inline;
                    }
                }
            }

            &-draft,
            &-pending {
                &:hover {
                    --_ukcehcard-background: lightgray;
                    --_ukcehcard-text-colour: gray;
                    --_ukcehcard-icon-colour: gray;
                }
            }
        }

        a.ukcehcard:hover {
            --_ukcehcard-background: var(--eidc-blue);
            --_ukcehcard-text-colour: white;
            --_ukcehcard-icon-colour: white;

            text-decoration: none;

            .fa-inverse {
                color: var(--_ukcehcard-background);
            }

            .ukcehcard-type {
                color: var(--_ukcehcard-text-colour);
            }
        }

        &.ukcehcards-small {
            --_ukcehcard-repeat: 1;
            --_ukcehcard-icon-width: 50px;
            --_ukcehcard-padding: 0.35em;

            a.ukcehcard {
                .ukcehcard-icon {
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }


        @media (width >=992px) {
            --_ukcehcard-repeat: 2;
        }

        @media (width <=576px) {
            --_ukcehcard-repeat: 1;
        }
    }

    div:has(>.ukcehcards):not(:has(.ukcehcard)) {
        display: none;
    }

    #adminPanel {
        padding-block: 1em;

        .adminToolbar {
            .btn-wide {
                min-width: 10em;
            }

            .btn {
                @extend .btn-sm;
            }

            .dropdown-menu.show {
                z-index: 1030;
            }

            form {
                display: inline-block;
            }
        }

        ul {
            a {
                font-size: 90%;
            }

            div.msg {
                margin: 1em;
                white-space: nowrap;
            }
        }

        ul.dropdown-menu {
            li.disabled.dropdown-item {
                all: unset;
                font-size: .9rem;
                cursor: not-allowed;
                padding: 1rem;
            }
        }

    }

    .studyarea-map,
    .geometry-map {
        height: var(--map-height, 300px);
        width: var(--map-width, 300px);

        .location {
            &-inactive {
                filter: grayscale(100%) contrast(50%) brightness(1.35);
            }
        }
    }

    .mintDOI {
        margin: 0 1em;
    }

    .card {
        --_border-radius: 0.5em;
        overflow-wrap: break-word;
        border-radius: var(--_border-radius);

        &,
        &-header {
            border-radius: var(--_border-radius) var(--_border-radius) 0 0;
        }

        &-header {
            padding: 0.5em 1em;
        }
    }

    .externalVocabularyLink {
        font-size: 0.85em;
    }


    .contacts {
        .contact:not(:last-of-type) {
            margin-bottom: 0.65em;
        }

        .contacts-main {
            margin-bottom: 2.5em;
        }
    }

    .responsibleParty {
        a.contactEmail {
            margin-inline-start: 0.5em;
            font-size: 75%;
        }

        a.contactEmail:hover {
            background-color: #99aefd;
            color: #fff;
            text-decoration: none;
        }

        .nameIdentifier {
            font-size: 90%;

            span {
                font-size: 80%;
                margin-inline-start: 0.75em;
            }
        }

        margin-block-end: 1.5em;

        address {
            margin-block-end: 0;
        }
    }

    div#segment-authors {
        .moreAuthors:before {
            content: var(--_link_before, "Show " attr(data-extra-authors) " more");
        }

        &:has(.show) {
            --_link_before: "Collapse ";
        }
    }



    #document-upload-panel {
        border-radius: 0;

        .card-body {
            padding: 1em;

            p {
                font-weight: bold;
                font-size: 1.2em;
                margin: 0;
            }
        }
    }

    .funding {
        .award {
            .awardNumber {
                margin-inline-start: 2em;
            }
        }
    }

    #segment-associations {
        div {
            margin-block-end: 2.5em;

            p {
                margin: 0 0 0.4em 3em;

                &.draft {
                    display: var(--display-draft-data, none);

                    a {
                        @extend .link-secondary !optional;
                    }
                }
            }
        }
    }

    #segment-onlineResources {
        p {
            margin-block-end: 1.5em;
        }
    }

    .metadataQuality {
        --_quality-warning: hsl(34, 100%, 50%);
        --_quality-error: hsl(0, 100%, 50%);

        &_error {
            --_qualityColor: var(--_quality-error);

            li {
                font-weight: bold;
            }
        }

        &_warning {
            --_qualityColor: var(--_quality-warning);
        }

        &_info {
            --_qualityColor: var(--ukceh-colour-water);
        }

        span {
            margin: 0 1.2em;
        }

        &-report {
            .qualityHeader {
                padding: 0.65em;
                color: #fff;
                background-color: var(--_qualityColor);
            }

            li {
                background-color: color-mix(in oklab, var(--_qualityColor), white 70%);
            }

            span {
                color: #00d;

                &::before {
                    content: " «";
                }

                &::after {
                    content: "» ";
                }
            }
        }
    }


    .alert-linked {
        background-color: var(--ukceh-colour-data);

        img {
            max-width: 250px;
            max-height: 45px;
        }
    }

    /*SIGNPOST*/
    .signpost-content {
        .signpost-logo {
            grid-area: signpost-logo;
            justify-self: right;
        }

        .signpost-text {
            grid-area: signpost-text;
        }

        .signpost-url {
            grid-area: signpost-url;
        }
    }

    #segment-title {
        .signpost-logo {
            display: none;
        }

        .signpost-logo img {
            max-width: 140px;
        }

        .signpost-content {
            display: grid;
            gap: 1em;
            grid-template-columns: auto fit-content(120px);
            grid-template-areas:
                "signpost-text signpost-text"
                "signpost-url signpost-url";
        }

        @media (width >=576px) {
            .signpost-content {
                grid-template-areas:
                    "signpost-text signpost-logo"
                    "signpost-url signpost-logo";
            }

            .signpost-logo {
                display: block;
            }
        }
    }

    .distribution-signpost {
        .signpost-logo {
            img {
                max-width: 140px;
            }
        }

        .signpost-content {
            display: grid;
            gap: 1em;
            grid-template-columns: auto fit-content(200px);
            grid-template-areas:
                "signpost-logo signpost-logo"
                "signpost-text signpost-text"
                "signpost-url signpost-url";

            .signpost-logo {
                justify-self: center;
            }
        }

        @media only screen and (max-width: 1020px) and (min-width: 420px) {
            .signpost-content {
                grid-template-areas:
                    "signpost-text signpost-logo"
                    "signpost-url signpost-logo";

                .signpost-logo {
                    justify-self: right;
                }
            }
        }
    }
}

#publication {
    div {
        margin: 4em auto;
        text-align: center;

        .btn {
            min-width: 18em;
        }
    }
}

.ceh-model {
    .description {
        margin-block-end: 2em;
    }

    section {
        h2 {
            color: gray;
            margin-block-start: 4em;
            border: none;
        }
    }
}

.codeDocument {
    .adminToolbar {
        position: absolute;
        top: 8rem;
        left: min(calc(100vw - 20em), 1120px);
        width: fit-content;
    }

    .grid {
        display: grid;
        grid-template-columns: auto 280px;
        grid-template-areas:
            "one one"
            "two two"
            "three three";

        .grid--one {
            grid-area: one;
        }

        .grid--two {
            grid-area: two;
        }

        .grid--three {
            grid-area: three;
        }

        @media (width >=768px) {
            --gridspacing: 1em;
            grid-template-areas:
                "one two"
                "three two";

            .grid--two {
                >div {
                    border-inline-start: 1px solid lightgray;
                    padding-inline-start: var(--gridspacing);
                    margin-inline-start: var(--gridspacing);
                }
            }
        }
    }
}

/********** Monitoring Records *************/
.metadata-monitoring {

    .altNames {
        @extend .fs-5 !optional;
        @extend .text-body-tertiary !optional;

        .altName {
            margin-inline: 0.75rem;
            color: #666;
        }
    }

    h2 {
        clear: both;
        padding-block-start: 2em;
    }


    a {
        &.availability-inactive {
            text-decoration: line-through;
            color: #BBB;
        }

        &.nogeom {
            &:before {
                font-family: var(--font-stack-icons);
                content: "\e68f ";
                font-weight: 600;
                color: #999;
                font-size: 0.85rem
            }
        }
    }

    .studyarea-map,
    .geometry-map {
        --map-height: 500px;
        width: 100%;
    }

    .displayFeatures {
        margin-block: 1em;
        display: flex;
        flex-wrap: wrap;

        .featureMap {
            flex: 0 0 100%;
        }

        .featureList {
            flex: 0 0 100%;
            padding-inline: 1em;
            overflow-y: auto;
            overflow-x: none;
            max-height: 500px;

            .key {
                display: none;
            }

            .link-inactive {
                @extend .link-secondary !optional;
            }
        }
    }
}

@media only screen and (min-width: 1020px) {
    .col-3:has(#tableOfContents) {
        border-inline-start: 1px solid lightgray;
        padding-inline-start: 2em;
    }
}

@media only screen and (min-width: 990px) {
    .metadata-monitoring {
        .displayFeatures {
            .featureMap {
                flex: 1 0 60%;
            }

            .featureList {
                flex: 0 1 40%;
            }
        }
    }
}
