@use "sass:color";

// PAGE STRUCTURE
html:has(.search),
body:has(.search) {
    // overflow-y: hidden !important;
}

main {
    .search {
        --form-boxshadow: 7px 7px 10px #EEE;

        display: flex;
        gap: 0.65rem;

        >div {
            overflow: auto;
            height: auto;
            flex: 1;
        }

        .filters {
            display: none;
            flex: 0 0 var(--filter-width);
            border-inline-end: var(--filter-border);
            max-height: calc(100dvh - var(--header-height));
            position: sticky;
            top: var(--header-height);

            .select2-selection {
                opacity: 0.7;

                &:focus-within,
                &:has(.select2-selection__choice__display) {
                    opacity: 1
                }
            }

            .filter-tabs {
                margin-block-start: 0.5rem;
                background-color: var(--filter-background-colour);
                min-height: calc(100dcvh - 0.5rem - var(--header-height));

                .nav-tabs {
                    >li {
                        >a {
                            position: relative;
                            color: var(--filter-colour);
                            text-decoration: none;
                            font-size: 1.1em;

                            &:hover {
                                background-color: color-mix(in hsl, var(--filter-background-colour), black 10%)
                            }

                            &.active {
                                border-block-end: none;
                                top: 1px;
                                background: var(--filter-background-colour);
                            }
                        }
                    }
                }
            }
        }

        .search-form {
            position: sticky;
            background-color: white;
            top: 0;
            z-index: 999;
            padding: 1em;

            .input-group {

                .input-group-btn {
                    button {
                        border-radius: 0 4px 4px 0;
                    }
                }

                box-shadow: var(--form-boxshadow);
            }

        }
    }
}

@media (min-width: 1000px) {
    main {
        .search {
            .filters {
                display: block;
            }
        }
    }
}

//Filters formatting
main {
    .search {

        .sort-search {
            option {
                &:checked {
                    display: none;
                }
            }
        }

        .facet-filter {
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-gutter: stable;
            scrollbar-width: thin; // Firefox only

            .facet {
                margin: 2em 0 2em 2px;

                &.form-floating {
                    label {
                        font-size: 1.1em
                    }
                }

                .select2 {
                    min-height: 2.6em;
                    box-shadow: var(--form-boxshadow);

                    &.select2-container--bootstrap-5 {
                        .select2-selection--multiple {
                            .select2-selection__rendered {
                                &:not(:empty) {
                                    margin-top: 2rem;
                                }

                                .select2-selection__choice__display {
                                    font-size: .9rem;
                                }

                                button.select2-selection__choice__remove {
                                    width: .6rem;
                                    height: .6rem;
                                }
                            }
                        }
                    }
                }
            }

            .facet-admin {
                display: var(--display-admin-facets, none)
            }
        }

        // For webkit browsers only
        .facet-filter::-webkit-scrollbar {
            width: 8px;
        }

        .facet-filter::-webkit-scrollbar-track {
            background: var(--primary-colour);
        }

        .facet-filter::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 20px;
            border: 1px solid var(--primary-colour);
        }

        .mapsearch {
            position: relative;
            height: calc(100vh - (var(--header-height) + var(--search-map-header-height)));
            width: 100%;

            ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Save changes"],
            ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Cancel editing, discards all changes"] {
                display: none;
            }

            .map {
                position: relative;
                height: 100%;

                .leaflet-control-zoom {
                    a {
                        color: #444;
                    }
                }
            }

            .form-operation {
                padding: 0.6em;
                color: var(--filter-colour, white);
            }

            .leaflet-control-layers-list {
                overflow: hidden;
                padding: 0.5em;
                font-size: 1em;
            }

            .leaflet-control-attribution {
                background-color: #999;
                font-size: 1em;
                padding: .5rem;
            }
        }

    }
}

//RESULTS FORMATTING
.results {
    display: flex;
    flex-direction: column;

    >* {
        padding: 1em;
    }

    .results__related_searches {
        &:empty {
            display: none;
        }
    }

    .results__list {
        display: grid;
        gap: 1.4em;

        .result {
            position: relative;
            display: flex;
            gap: 1em;
            padding: 0.85em;
            border: 1px solid var(--border-colour, #ccc);
            border-radius: 5px;
            color: var(--text-default-color);

            &:hover,
            &:focus-visible {
                background-color: rgba(0, 0, 0, 0.06);
                outline: 2px solid var(--link-hover-colour);
                text-decoration: none;
                transform: scale(101%);
            }

            .resourceStatus,
            .condition,
            .result__state span,
            .opstatus {
                font-weight: 600;
                font-size: 0.8rem;
            }

            .resourceStatus {
                @extend .badge !optional;

                &-Embargoed {
                    @extend .text-bg-primary !optional;
                }

                &-Superseded,
                &-Withdrawn {
                    @extend .text-bg-warning !optional;
                }
            }

            .opstatus {
                color: white;
                position: absolute;
                right: 15px;
                top: calc(-1 * var(--top-offset, 0));
                padding: 0.35em;
                clip-path: polygon(100% 0,
                        0 0,
                        0 100%,
                        50% 100%,
                        100% 100%,
                        100% 0,
                        100% 0);
                background-color: var(--statusColour, #b92c62);
                display: var(--display-opstatus, none)
            }

            .result__state {
                flex: 0 0 11ch;
                padding-inline-end: .6em;
                border-inline-end: 1px solid var(--border-colour);
            }

            &.opstatus-Inactive {
                outline: 2px dashed #AAA;
                outline-offset: 4px;
                background-color: #f1f1f1;

                .opstatus {
                    --statusColor: var(--ukceh-colour-teal);
                    --display-opstatus: block;
                    --top-offset: 4px
                }

                .result__title {
                    color: gray;
                }
            }

            &__title {
                margin: 0 0 0.3em 0;
                font-size: 1.35em;
                line-height: 1.35em;
                color: black;
            }

            &__citationCount {
                text-align: center;
                border: 1px solid gray;
                border-radius: 5px;
                text-align: center !important;
                padding: .25em;
                align-self: flex-start;
                font-size: 0.9rem;
            }

            &--pending {
                --border-colour: darkorange;
                border-inline-start: var(--border-colour) 10px solid;
                background-color: rgba(0, 0, 0, 0.1);
            }

            &--draft {
                --border-colour: darkred;
                border-inline-start: var(-border-colour) 10px solid;
                background-color: color.adjust($gray-light, $lightness: 30%, $space: hsl);
                background-image: repeating-linear-gradient(315deg,
                        transparent,
                        transparent 18px,
                        rgba(139, 0, 0, 0.15) 20px);

                .result__description {
                    color: #999;
                }
            }

            &--Available,
            &--Unknown,
            &--Controlled,
            &--In-progress {
                .resourceStatus {
                    display: none;
                }
            }

            &--Restricted {
                .resourceStatus {
                    color: red;
                    text-transform: uppercase;

                    &::after {
                        content: " !";
                    }
                }
            }

            &--published {
                .result__state {
                    display: none;
                }
            }
        }
    }
}

.results__footer {
    margin-block-start: auto;

    .pagination {

        .previous-item,
        .next-item {
            width: max-content;
            white-space: nowrap;
        }

        .center-item {
            width: 100%;
            text-align: center;
        }

        .page-link {
            padding: 6px 20px;
            border-radius: 18px;
        }
    }
}
