@use "sass:color";

// PAGE STRUCTURE
html:has(.search),
body:has(.search) {
    overflow-y: hidden !important;
}

main {
    .search {
        display: flex;
        overflow: hidden;
        height: calc(100vh - var(--header-height));
        will-change: overflow;

        >div {
            overflow: auto;
            height: auto;
            flex: 1;
        }

        .filters {
            display: none;
            flex: 0 0 var(--filter-width);
            border-inline-end: var(--filter-border);

            .search-tabs {
                background-color: var(--filter-background-colour);
                min-height: calc(100vh - var(--header-height));

                .nav-tabs {
                    >li {
                        >a {
                            position: relative;
                            color: var(--filter-colour);
                            text-decoration: none;
                            font-size: 1.1em;

                            &:hover {
                                background-color: color-mix(in hsl, var(--filter-background-colour), black 10%)
                            }

                            &.active {
                                border-block-end: none;
                                top: 1px;
                                background: var(--filter-background-colour);
                            }
                        }
                    }
                }
            }
        }

        .search-form {
            position: sticky;
            background-color: white;
            top: 0;
            z-index: 999;
            padding: 1em;
        }
    }
}

@media (min-width: 1000px) {
    main {
        .search {
            .filters {
                display: block;
            }
        }
    }
}

//Filters formatting
main {
    .search {
        .facet-filter {
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-gutter: stable;
            scrollbar-width: thin; // Firefox only
            padding-inline-start: 1em;

            .facet {

                .facet-header {
                    font-weight: 600;
                    font-size: 1.35em;
                    color: var(--filter-heading-colour);
                }

                margin: 2em 0;
                max-height: 600px;
                overflow-y: scroll;
                overflow-x: hidden;
                scrollbar-width: none;

                ul {
                    padding: 0;
                    margin: 1px;

                    li {
                        list-style: none;

                        .facet-count {
                            margin-inline-start: 0.5em;
                            opacity: 75%;
                        }

                        a {
                            color: var(--filter-link-colour);
                            white-space: nowrap;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    display: none;
                }

            }
        }

        // For webkit browsers only
        .facet-filter::-webkit-scrollbar {
            width: 8px;
        }

        .facet-filter::-webkit-scrollbar-track {
            background: var(--primary-colour);
        }

        .facet-filter::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 20px;
            border: 1px solid var(--primary-colour);
        }

        .mapsearch {
            position: relative;
            height: calc(100vh - (var(--header-height) + var(--search-map-header-height)));
            width: 100%;

            ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Save changes"],
            ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Cancel editing, discards all changes"] {
                display: none;
            }

            .map {
                position: relative;
                height: 100%;

                .leaflet-control-zoom {
                    a {
                        color: #444;
                    }
                }
            }

            .form-operation {
                padding: 0.6em;
                color: var(--filter-colour, white);
            }

            .leaflet-control-layers-list {
                overflow: hidden;
                padding:0.5em;
                font-size: 1em;
            }

            .leaflet-control-attribution {
                background-color: #999;
                font-size: 1em;
                padding: .5rem;
            }
        }

    }
}

//RESULTS FORMATTING
.results {
    min-height: 90%;
    display: flex;
    flex-direction: column;

    >* {
        padding: 1em;
    }

    .results__list {
        display: grid;
        gap: 1em;

        .result {
            padding: 1.3em;
            background-color: rgba(0, 0, 0, 0.03);
            color: var(--text-default-color);

            &:hover {
                background-color: rgba(0, 0, 0, 0.06);
                outline: 2px solid $link-hover-color;
                text-decoration: none;
            }

            &__tags {
                display: flex;
                flex-direction: row;
                border-block-end: 1px solid lightgray;
                padding-block-end: 5px;
                margin-block-end: 5px;

                div {
                    margin-inline-end: 1em;
                }

                .recordType {
                    color: #337085;
                }

                .resourceStatus,
                .condition,
                .state {
                    font-weight: bold;
                    font-size: 0.9rem;
                    padding-block-start: 3px;
                }
            }

            &__title {
                margin: 0 0 0.3em 0;
                font-size: 1.35em;
                line-height: 1.35em;
                color: black;
            }

            &__citationCount {
                text-align: right;
                color: $gray;
                font-size: 0.9rem;
                margin-block-start: -2px;
            }

            &--pending {
                border-inline-start: darkorange 10px solid;
                background-color: rgba(0, 0, 0, 0.1);
            }

            &--draft {
                border-inline-start: darkred 10px solid;
                background-color: color.adjust($gray-light, $lightness: 30%, $space: hsl);
                background-image: repeating-linear-gradient(315deg,
                        transparent,
                        transparent 18px,
                        rgba(139, 0, 0, 0.15) 20px);

                .result__description {
                    color: #999;
                }
            }

            &--Available,
            &--Unknown,
            &--Controlled,
            &--In-progress {
                .resourceStatus {
                    display: none;
                }
            }

            &--Restricted {
                .resourceStatus {
                    color: red;
                    text-transform: uppercase;

                    &::after {
                        content: " !";
                    }
                }
            }

            &--published {
                .state {
                    display: none;
                }
            }
        }
    }

    .results__footer {
        margin-block-start: auto;

        .pagination {

            .previous-item,
            .next-item {
                width: max-content;
                white-space: nowrap;
            }

            .center-item {
                width: 100%;
                text-align: center;
            }

            .page-link {
                padding: 6px 20px;
                border-radius: 18px;
            }
        }
    }
}
