@use "theme";

.editor-textarea {
    field-sizing: content;
    min-height: 150px;
}

.editor-description {
    margin-block-end: 20px;
}

.sampleArchive-metadata {

    .metadata-grid {
        margin-top: 1.6em;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;

        @media (width >=992px) {
            grid-template-columns: auto 300px;
        }

        .key {
            @media (width >=576px) {
                text-align: right !important;
            }
        }
    }

    .record-metadata {

        .key,
        .value {
            background-color: #EEE;
            padding: .6em;
        }
    }
}
