@import "theme";

$fa-font-path: "../fonts";

:root {
    --primary-colour: hsl(84, 55%, 48%);
    --secondary-colour: hsl(84, 55%, 48%);
    --teritary-colour: #BF3888;

    --link-hover-colour: hsl(204, 55%, 48%);

    --header-height: 100px;
    --header-background-colour: white;
    --header-link-background-colour: var(--header-background-colour);
    --header-link-hover-background-colour: color-mix(in lab, var(--header-link-background-colour), black 5%);
    --header-link-colour: var(--primary-colour);
    --header-link-hover-colour: var(--link-hover-colour);
    --header-border-bottom-colour: var(--primary-colour);
    --header-border-bottom-width: 4px;
    --header-logo-height: calc(var(--header-height) - 50px);
    --header-logo-border: none;
    --ukceh-brand-display: none;

}

header {
    .toolbar {
        .brand {
            img {
                max-height: calc(var(--header-height) - 60px);
                margin-right: 1em;
            }
        }
    }
}

#editor {
    .option-ukeof {
        display: initial !important;
    }
}

.metadata {
    .studyarea-map,
    .geometry-map {
        height: 500px;
        width: 700px;
    }

    .key-value {
        >div {
            padding: .5em 0;
        }

        .key {
            font-weight: 600;
        }
    }

    h2 {
        clear: both;
        padding-top: 2em;
    }
}

footer {
    .container {
        .footer-socials {
            a {
                background-color: white;
                color: black;

                &:hover {
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }
}


@media only screen and (min-width: 800px) {
    footer {
        .container {
            .footer-links {
                flex-direction: row;
                gap: 0 2em;
            }
        }
    }
}
