@use "theme";

.metadata {
    #pageTitle {
        margin: 2em 0;
    }

    .key {
        font-size: 1rem;
        margin-block-start: 3.5rem;
    }

    .fa-spin-2x {
        -webkit-animation: fa-spin 1s infinite linear;
        animation: fa-spin 1s infinite linear;
    }

    .row.role {
        @extend .visually-hidden !optional;
    }

}
