@use "theme";

:root {
    --link-colour: hsl(204, 55%, 48%);
    --link-hover-colour: hsl(204, 55%, 48%);

    --header-height: 100px;
    --header-background-colour: white;
    --header-link-background-colour: var(--header-background-colour);
    --header-link-hover-background-colour: color-mix(in lab, var(--header-link-background-colour), black 5%);
    --header-link-colour: var(--link-colour);
    --header-link-hover-colour: var(--link-hover-colour);
    --header-border-bottom-colour:  hsl(84, 55%, 48%);;
    --header-border-bottom-width: 4px;
    --footer-subsection-background-colour: #ddd;
}

header {
    .toolbar {
        .siteLogo {
            img {
                margin-inline-end: 1em;
            }
        }
    }
}

footer {
    .footer {
        .container {

            .footer-logos {
                .logo-ukceh {
                    min-width: 200px;

                }
            }
        }
    }
}

#editor {
    .option-ukeof {
        --display-option: block;
    }
}

.metadata {

    .studyarea-map,
    .geometry-map {
        --map-height: 500px;
        --map-width: 700px;
    }

    h2 {
        clear: both;
        padding-block-start: 2em;
    }

}
