@use "theme";
@use "style-serviceagreement";

$brand-success: hsl(195, 45%, 36%);
$card-default-text: #FFF;


/* CSS custom properties */
:root {
    --header-height: 80px;
    --header-logo-size: calc(var(--header-height) * 0.55);
    --ukceh-brand-display: none;
    --eidc-component-display: block;
    --display-navbar-title: none;
}

html {
    overflow-y: scroll;
}

header {
    .siteLogo {
        margin-inline-end: 3.5rem;

        img {
            max-height: 100px;
            max-width: 300px;
        }
    }

    .btn-create {
        background-color: white;
    }
}

footer {
    .footer {
        .container {

            .footer-logos {
                .logo-ukceh {
                    min-width: 200px;
                    aspect-ratio: 1;
                }
            }

            .footer-socials {
                display: none;
            }

            .footer-links {
                justify-content: center;
                grid-column-end: 3;
            }

        }
    }
}

main {
    ::selection {
        color: white;
    }
}

.option-eidc {
    --display-option: block;
}

.adminToolbar {
    margin-block-start: 1em;
}

.input-group-addon {
    background-color: #eee;
}

.fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.text-red {
    color: #ee0000;
}

.card-right {
    >div {
        margin: 1em 0;
        background-color: #f5f5f5;
        padding: 1em;

        &:last-child {
            border-block-end: none;
        }
    }

}

#document-upload-panel {
    a {

        &:hover,
        &:focus-visible {
            color: #FFF;
            text-decoration: none;
        }

        div {
            &:hover {
                background-color: var(--ukceh-colour-water);
            }
        }
    }
}

.datatype {
    .admin {
        margin-block-start: 1em;
    }

    .schemaItem {
        border-block-end: 1px solid #eee;
        margin: 0.5em;
        padding: 0.5em;
    }

    section {
        &--schema {
            .table-schema {
                @extend .table-sm !optional;
            }
        }

        &--provenance {
            display: table;

            div {
                display: table-row;

                span:first-child {
                    font-weight: bold;
                    text-align: right;
                }

                span {
                    display: table-cell;
                    padding: 0.35em 1em;
                }
            }
        }
    }
}

a#atlwdg-trigger {
    font-size: 1em;
    padding: 0.25em 1.5em;
    background-color: #337085;
}

@media only screen and (max-width: 820px) {
    a#atlwdg-trigger {
        display: none;
    }
}
