.serviceAgreement {

    .editor {
        .row.disabled {
            label {
                color: #CCC;
                font-weight: 300;
                text-decoration: line-through;
            }
        }
    }

    .title {
        .eidcLogo {
            display: none;
        }
    }

    .saStatus {
        color: var(--statusColor, gray);
        font-size: 75%;
        display: block;
        font-weight: 600;

        &:before {
            content: "status: ";
            font-weight: 200;
        }

        &-draft {
            --_statusColor: red;
        }
    }

    .key-value {
        display: grid;
        margin: 1em 0;

        .key {
            font-weight: 600;
        }
    }

    .adminPanel {
        .btn-wide {
            min-width: 10em;
        }

        form {
            display: inline-block;
        }
    }

    .indent {
        &--1 {
            margin-inline-start: 2em;
        }

        &--2 {
            margin-inline-start: 4em;
        }
    }

    .historical {
        border: 14px solid red;

        h1.text-red {
            border-block-end: 1px solid gray;
            padding-block-end: 0.4em;
        }
    }

    .contactDetails {
        margin-block-start: 3em;

        .key-value {
            gap: 0;
            grid-template-columns: 1fr;
            margin: 0;

            >div {
                padding: 0.75em;
                margin: 0;
                outline: 1px solid;
                text-align: left;
            }

            .key {
                background-color: hsl(0, 0%, 95%);
            }
        }
    }

    .qualityReport {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
        gap: 0.5em;

        .qualityItem {
            background-color: var(--bgcolour);
            font-weight: 600;
            border-block-end: 1px solid white;
            padding: 0.5em;
            display: grid;
            grid-template-columns: 50px auto;

            div:first-of-type {
                justify-self: center;
            }

            &--error {
                --bgcolour: hsla(0, 100%, 50%, .15);

                >div:first-of-type {
                    color: red;
                }
            }

            &--warning {
                --bgcolour: hsla(39, 100%, 50%, .15);

                >div:first-of-type {
                    color: orange;
                }
            }

            &--info {
                --bgcolour: hsla(240, 100%, 50%, .15);

                >div:first-of-type {
                    color: blue;
                }
            }
        }
    }

    .supportingDoc {
        display: grid;
        gap: 1.6em;
        grid-template-columns: 450px auto;

        &:not(:last-of-type) {
            border-block-end: 1px solid lightgray;
            padding-block-end: .65em;
            margin-block-end: .65em;
        }

        &__name {
            word-wrap: break-word;
        }

        &__content {
            font-style: italic;
            text-align: right;
            color: gray;
        }

        .supportingDoc__name {
            max-width: 60ch;
            overflow-wrap: break-word !important;
        }
    }

    .tbl {
        &--collapse {
            $border-color: lightgrey;
            margin: 1em 0;

            table {
                border-spacing: 0;
                width: 100%;
                border-collapse: collapse;

                th,
                td {
                    padding: 0.4em;
                    margin: 0;
                    border: 1px solid $border-color;
                }

                thead {
                    th {
                        background-color: hsl(0, 0%, 95%);
                        text-align: left;
                        min-width: 150px;
                    }
                }
            }

            @media only screen and (max-width: 760px),
            (min-device-width: 768px) and (max-device-width: 1024px) {
                // On small screens, force table to NOT display as a table //
                $head-width: 200px;

                table,
                thead,
                tbody,
                th,
                td,
                tr {
                    display: block;
                    border-width: 0 !important;
                }

                // Hide table headers (for accessibility, don't use display:none )
                thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }

                tr {
                    margin: 0 0 0.6em 0;
                    padding-block-end: 0.6em;
                    border-block-end: 1px solid $border-color !important;
                }

                td {
                    border: none;
                    position: relative;
                    margin-inline-start: $head-width*1.2;
                    padding: 0.3em 5em !important;

                    &:before {
                        position: absolute;
                        padding: 0.3em;
                        top: 0;
                        // left: $head-width*1.2;
                        margin-inline-start: -($head-width) * 1.1;
                        text-align: right;
                        width: $head-width;
                        font-weight: 600;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        section.section.section--3 {
            .key-value {
                grid-template-columns: 1fr;

                .key {
                    text-align: left;
                }

                .supportingDoc {
                    grid-template-columns: 300px auto;
                }
            }

            .supportingDoc__name {
                max-width: 60ch;
            }
        }
    }

    @media only screen and (max-width: 1410px) {
        .supportingDoc__name {
            max-width: 45ch;
        }
    }
}

@media only screen and (max-width: 990px) {
    section.section.section--3 {
        .key-value {
            grid-template-columns: 1fr;

            .key {
                text-align: left;
            }

            .supportingDoc {
                grid-template-columns: 300px auto;
            }
        }
    }
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .serviceAgreement {
        .tbl {
            margin-inline-start: 10em;

            &--authors {
                td {
                    &:nth-of-type(1):before {
                        content: "Author name";
                    }

                    &:nth-of-type(2):before {
                        content: "Affiliation";
                    }

                    &:nth-of-type(3):before {
                        content: "EMail address";
                    }

                    &:nth-of-type(4):before {
                        content: "ORCiD";
                    }
                }
            }

            &--files {
                td {
                    &:nth-of-type(1):before {
                        content: "Filename";
                    }

                    &:nth-of-type(2):before {
                        content: "Format";
                    }

                    &:nth-of-type(3):before {
                        content: "Size";
                    }
                }
            }
        }
    }
}

@media print {

    header,
    #devbar {
        display: none !important;
    }

    .externalVocabularyLink {
        sup {
            display: none;
        }
    }

    .serviceAgreement {
        --_font-size: 1.35rem;

        @page {
            size: 210mm 297mm;
            margin: 25mm 16mm;
        }

        section,
        p,
        table,
        tr,
        div {
            page-break-inside: avoid;
        }

        p,
        td,
        th,
        li,
        dt,
        dd,
        .key,
        .value {
            line-height: 1.4;
            font-size: var(--_font-size);
        }

        h1,
        h2,
        h3 {
            line-height: 1.2;
        }

        h1 {
            font-size: calc(1.8 * var(--_font-size));
        }

        h2 {
            font-size: calc(1.5 * var(--_font-size));
            border-width: 1px 0;
        }

        h3 {
            font-size: calc(1.2 * var(--_font-size));
        }

        .title {
            display: flex;
            gap: 1em;
            align-items: center;

            .eidcLogo {
                display: block;

                img {
                    min-width: 225px;
                }
            }
        }
    }
}