@import "theme";

.editor-textarea {
    height: 100%;
}

.editor-description {
    margin-bottom: 20px;
}

.sampleArchive-metadata {
    .browseGraphic {
        max-width:350px;
        max-height:250px;
        margin:0 0 2em 2em ;
        @extend .float-end;
    }

    .key-value {
        margin:1em 0;
        margin-top:1.25em;
        .key {
            font-weight:bold;
            text-align:right;
        }
    }

    .record-metadata {
        margin-top:6em;
        background-color:#EEE;
        padding:1em;
        font-size:.9em;
        .key-value {
            margin:.35em 0;
            padding:0;
            border:none;
        };
    }
}
