*
!fixtures/datastore/REV-1
!java/src
!java/build.gradle
!java/lombok.config
!schemas
!templates
!web/src/img
!web/src/less
!web/src/scripts
!web/.bowerrc
!web/bower.json
!web/Gruntfile.js
!web/package.json
!web/package-lock.json
!web/src/permission/dist
!web/src/permission/dist/main.js
!web/src/permission/package.json
!web/src/permission/package-lock.json
!web/src/permission/webpack.config.js
!web/src/permission/src/
