*
!fixtures/datastore/REV-1
!java/src
!java/build.gradle
!java/lombok.config
!schemas
!templates
!web/css
!web/dist
!web/img
!web/less
!web/src
!web/Gruntfile.js
!web/karma.conf.js
!web/package.json
!web/package-lock.json
!web/webpack.js


