*
!fixtures/datastore/REV-1
!java/src
!java/build.gradle
!java/lombok.config
!schemas
!templates
!web/src/img
!web/src/date-picker-images
!web/src/less
!web/src/scripts
!web/.bowerrc
!web/bower.json
!web/Gruntfile.js
!web/package.json
!web/package-lock.json

!web/permission/package.json
!web/permission/package-lock.json
!web/permission/webpack.config.js
!web/permission/src/
!web/catalogue/package.json
!web/catalogue/package-lock.json
!web/catalogue/webpack.config.js
!web/catalogue/src/
!web/simple-upload/package.json
!web/simple-upload/package-lock.json
!web/simple-upload/webpack.config.js
!web/simple-upload/src/

!web/hubbub/package.json
!web/hubbub/package-lock.json
!web/hubbub/webpack.config.js
!web/hubbub/src/

