datastore
cache/
.vagrant

# Ignore the secret configuration file
puppet/hieradata/secrets.yaml

# Ignore Test output
test-reports/**
npm-debug.log

# Ignore webdriver directories (created by rspec/capybara testing)
webdriver*
.idea
*~
rspec_screenshots/
**/nbproject/**
