fixtures/jena
fixtures/**/*.csv
build
secrets.env
/dropbox
/datastore/
mapfiles
cache
.gradle
.vscode
.vagrant
target
java/out
java/bin
/upload/
/metrics-db/

# Ignore Test output
test-reports/**
npm-debug.log
rspec_screenshots/
file-test-data-test/
TESTS-*.xml

# Ignore webdriver directories (created by rspec/capybara testing)
webdriver*
test-reports/
.idea
*~
**/nbproject/**
*.*.swp
*.sublime-workspace
javac-services*
.classpath
.project
org.eclipse.*
DevStartupController.java
docker-compose.override.yml
*.private.env.json
/sparql.http
/oidc-roles.json
