build
secrets.env
dropbox
plone
eidchub-rw
datastore
mapfiles
cache
.gradle
.vscode
.vagrant
target
java/out
java/bin

# Ignore the secret configuration file
puppet/hieradata/secrets.yaml

# Ignore Test output
test-reports/**
npm-debug.log
rspec_screenshots/
document-upload-test-main
document-upload-test-second

# Ignore webdriver directories (created by rspec/capybara testing)
webdriver*
test-reports/
.idea
*~
**/nbproject/**
*.*.swp
*.iml
*.sublime-workspace
javac-services*
*.*.swp
.classpath
.project
org.eclipse.*
.vscode
DevStartupController.java
