services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: &db_password cabbages
      POSTGRES_USER: &db_user gardener
      POSTGRES_DB: hubbub
    ports:
      - "5432:5432"
  hubbub:
    image: registry.gitlab.ceh.ac.uk/eip/hubbub:7.7.0
    environment:
      DB_HOST: db
      DB_PASSWORD: *db_password
      DB_USER: *db_user
    ports:
      - '8082:8080'
    volumes:
      - dropbox:/mnt/dropbox
      - ./fixtures/upload/eidchub:/mnt/eidchub
      - ./fixtures/upload/supporting-documents:/mnt/supporting-documents
