<select data-name="value" class="editor-input" id="input-resourceType">
  <option value="" selected>- Select Catalogue -</option>
  <option value="CEH In-licensed data">CEH In-licensed data</option>
  <option value="Catchment Management Platform">Catchment Management Platform</option>
  <option value="Environmental Information Data Centre">Environmental Information Data Centre</option>
  <option value="UK National River Flow Archive data holdings">UK National River Flow Archive data holdings</option>
</select>