.deposit-request {
    margin-bottom: 22px;
}

.deposit-request .form-control {
    color: #222;
}

.dataset {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    border-radius: 4px;
}

.dataset-add,
.dataset-description {
    margin: 10px 0 !important;
}

.dataset-format {
    padding: 0 !important;
}

.doi {
    margin: 10px 0;
}

.doi-value {
    padding-left: 0 !important;
}