#documents-upload {

    .header {
        margin:2em 0;
        padding-bottom: 1em;
        border-bottom: 1px solid #EEE;
    };
    
    .folder {
        margin: 1em;
        padding:0;
        width: inherit;
        overflow: hidden;
        h2 {
            margin-left:1em;
            small {
                margin-left:2em;
            };
        };
    };

    .dropzone-files {
        border:2px dashed #7F7FFF;
        width:100%;
        min-height:10em;
        .file-options {
            .pull-right;
        };
    };

    .in-progress .folder {
        border:2px dashed #7F7FFF;
        padding:1em;
        
    };

    .files {
        padding:1em;
        .file {
            display:block;
            padding:1em;
            border-top:1px solid #EEE;
            &:first-child {
                border-style:none;
            };
            &:hover {
                background-color: #EEE;
            };
        };
        [id*='zip'] {
            padding-top:3em;
            padding-bottom: 0;
        };
        [id*='zip-'] {
            border-top:none;
            padding:0.35em 1em 0.35em 3em;
            .small;
            &:hover {
                background-color: transparent;
            };
            .filename {
                &::before {
                    content:"»";
                    font-weight:bold;
                    margin-right: 1em;
                };
            };
            .file-options {
                display:none;
            }
        };
    };

    .read-only {
        .folder {
            border:1px solid #AAA;
            overflow: auto;
            .folder-title {
                padding:1em;
                background-color:#EEE;
            };
            h2 {
                padding:0;
                margin:0;
            };
            .files {
                display:table;
                .file {
                    display:table-row;
                    &:hover {
                        background-color:transparent;
                    };
                    div {
                        display:table-cell;
                        padding: 0.6em 1.5em;
                        border-bottom: 1px solid #eee;
                        white-space: nowrap;
                    };
                    .fileicon {
                        padding-right: 0;
                    };
                };
                .fileHeader {
                    div {
                        font-weight:bold;
                        border-bottom: 2px solid #CCC;
                    }
                };
                [id*='zip'] {
                    div {
                        padding-bottom: 0.2em ;
                    };
                };
                [id*='zip-'] {
                    .fa, .fas, .far {
                        display:none;
                    };
                    div {
                        padding-top: 0.2em;
                        padding-left: 2.4em
                    };
                };
            };
        };
    }

    .file-readonly {
        width: 100%;
    };

    .file-options {
        padding: 4px;
    };

    .filename, .file-options, .filehash {
        display:block;
        margin:0;
        padding:0;
        border:none;
    };

    .file-invalid {
        border: 1px solid #F00 !important;
        background-color:rgba(255,0,0,0.1);
        margin-bottom: 3px;

        button {
            float: right;
            margin-left: 5px;
        }

        .error-message {
            .text-danger; 
        };
    }

    .filename {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
    };

    .folder-options {
        padding: 0em;
        .btn {
            margin:0 0.5em 0.5em 0;
        }
        .finish, .fileinput-button {
            margin-top:0.5em;
        }
    };

    .folder-options.is-empty {
        display:none;
    };

    .files .empty-message {
        pointer-events: none;
        display: block;
        text-align: center;
        opacity: 0.4;
        font-size:1.5em;
    };

    .file .progress {
        margin: 2px;
        height: 32px;
    };

    .file .progress-bar {
        font-size: 18px;
        line-height: 32px;
    };

    .ui-state-highlight {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0.3;
        height: 10000px;
    };

    .documents .ui-state-highlight {
        display: none;
    };

    .messages {
        max-height: 300px;
        overflow: auto;
    };

    .modal-body {
        font-weight: bold;
        font-size: 120%;
        padding: 2em 3em 1em 3em;
        overflow: hidden;
    };

    .modal-footer {
        border: none;
        text-align: center;
        .btn {
            min-width: 7em;
        };
    };
    
    /* Unsure whether to keep this change
    hides zip contents while moving
    */
    .in-progress {
        [id*='zip'] {
           padding: 1em; 
        };
        [id*='zip-'] {
            display:none; 
        };
    };
}

.document-upload-footer {
    padding:1em 0;
}

/*the definition below is a temporary measure
for the first few months of use while the ILs get
used to the system.  It can then be deleted */
.plone.folder .folder-name::after {
    content: '(Supporting documents)';
    margin-left:1em;
    font-size: 70%;
    color:#bbb;
}
