.title {
    margin-top: 30px;

    &-type {
        display: block;
        line-height: 25px;
    }
}

.subtitle {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 6px;
    margin-top: 0;
}

.documents-upload {
    .panel,
    .panel-heading {
        border-radius: 0;
    }

    .documents,
    .finish,
    .invalid {
        &-is-inactive {
            display: none;
        }
    }

    .section {
        margin-bottom: 5rem;
    }
}

.data-meta-toggle {
    width: 100%;

    .btn {
        width: 50%;
    }
}

.checksums {
    margin-bottom: 30px;
}

.change-type {
    height: 16px;
}

.dropzone {
    &-container {
        overflow: hidden;

        &.is-empty {
            height: 170px;
        }

        &.is-1 {
            height: 240px;
        }

        &.is-2 {
            height: 280px;
        }

        &.is-3 {
            height: 330px;
        }

        &.is-4 {
            height: 390px;
        }

        &.is-5 {
            height: 440px;
        }

        &.is-6 {
            height: 490px;
        }

        &.is-large {
            height: 500px;
        }

    }

    &-area {
        margin-top: 15px;
        height: 60px;
        border: dashed 1px #338ddd;
        background-color: lighten(#4999e1, 25%);

        .title {
            margin-bottom: 45px;
            text-align: center;
            line-height: 10px;

            .fa {
                margin-top: -15px;
            }
        }
    }

    .previews {
        height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .file-row {
        margin-top: 15px;

        .max-size {
            &.is-inactive {
                display: none;
            }

            &.is-active {
                display: block;
            }
        }

        .progress {
            margin-bottom: 0;
            margin-top: 8px;
        }

        .name,
        .size {
            margin-bottom: 0;
            line-height: 32px;
        }
    }
}