#editor {
  border:1px solid #DDD;
  border-radius:8px;
  margin-top:2em;
  padding: 20px;

  label.required::before {
    content: "*";
    color:#F00;
    font-size:150%;
  }

  .editor-controls {
    text-align: center;
  }
}