// This is the stylesheet for the mapviewer. Hopefully we can add the majority
// of this to the general stylesheet for ceh applications

.openlayers {
  font-size: smaller;
  .olControlAttribution {
    left: 10px;
    bottom: 10px;
  }
}