#metadata {
  @light-gray-border: #CCC;

  #section-title {
    margin-top: 3em;
    padding: 1em 0;
    h1 {
      margin-top: 0;
      margin-bottom: 0.2em;
    };
    .authorList {color:#999;}
    .doi {
      font-size: 90%;
      margin: 0;
    };
    .licenceText {
      a{font-weight:bold;}
    }
    .titleSpacer {
      border-bottom: 1px solid @light-gray-border;
      margin-bottom: 1em;
      padding: 1em 0;
    }
  }

  .modal-body {
    #citation-text {
      margin:-0.5em 2em 2em 2em;
    };
    .licenceText {
      margin-top:3em;
      .text-center;
    }
  }
  
  #document-description { margin-bottom:1em; }

 .supplemental-item {
   padding: 1.5em 0 1.25em 0;
   border-bottom: 1px solid #eee;
  }

  .supplemental-item:last-child {
    border-bottom: none;
   }
 

  #document-otherContacts {
    dl.dl-horizontal {
        dd, dt { margin-bottom:0;}
    }
  }

  #publicationActions {
	  .label-Draft{
		.label-default;
	  }

	  .label-Published{
		.label-success;
	  }

	  .label-PendingPublication{
		.label-info;
	  }

	  .list-group {
	  margin-top:3em;
	  }

	  .list-group-item-text {
		.text-muted;
	   }

      .btn {min-width:18em;}
	}

  h3 {
    margin-top:     2.5em;
    border-bottom:  1px solid @light-gray-border;
    padding-bottom: 6px;
  }

  #document-upload-panel {
    border-width:3px;
    border-color: @brand-success; 
  } 

  #section-children{
    margin-bottom:6em;
      .children {
        margin-left:3em;
        margin-top:1em;
        padding-top: 0.25em;
        .childRecord {margin-bottom:0.25em;}
    };
  }

  #adminPanel{
    margin: 1.75em auto -1.75em auto;
    ul {
      a{font-size: 90%;};
      div.msg {
        margin:1em;
        white-space:nowrap;
      };
    }
  }

  #studyarea-map, #geometry-map { height: 300px; width: 300px; }

  .mintDOI{margin:0 1em;};

  // If the current metadata document is a historic archive, a warning is
  // displayed to the user at the top of the metadata page with
  // id = 'not-current'
  #resourceStatus {    
    margin: 1em 0 0 0 ;
    a {
      color:#00B;
      text-decoration: underline;
    };
    a:hover {
      text-decoration: none;
    };
    .reasonChangedDescription {
      margin-top: 1em;
      margin-left:2em;
    }
  }

  .alert-Retired, .alert-Embargoed {
    .alert-info;
  }

  .alert-Superseded, .alert-Withdrawn {
    .alert-danger;
  }


  // Prevent definition lists from wrapping the term
  .dl-horizontal dt {
    white-space: normal;
  }

 .panel {overflow-wrap: break-word;}
 .panel, .panel-heading {border-radius: 0;}
 .panel-heading {padding:.5em 1em;}
 .panel-title { font-size:100%;}

 .responsibleParty {
    a.contactEmail {
      margin-left: 0.5em;
      font-size:75%;
    };
    a.contactEmail:hover {
      background-color: #99aefd;
      color:#FFF;
      text-decoration: none;
    };
    .nameIdentifier {
      font-size:90%;
      span {
        font-size:80%;
        margin-left:0.75em;
      }
    };
    margin-bottom:1.5em;
	  address{
      margin-bottom:0;
    };
  }

  #document-authors {
    a.moreAuthors {
      &:after{
        content:"fewer ↑";
      };
      span {
        display:none;
      };
    };
    a.moreAuthors.collapsed {
      &:after{
        content:"more ↓";
      };
      span {
        display:inline;
      };
    };
  }

 #section-onlineResources {
	p {margin-bottom:1.5em;}
 }

 @media (min-width: 768px) {
    .dl-horizontal dt {
        width:15em;
        white-space: normal;
    }
    .dl-horizontal dd {
        margin-left:16em;
        margin-bottom:.3em;
    }
 }

 @media (min-width: 468px) {
    .dl-horizontal dd { margin-bottom:1em;}
  }
}

#footer {background-color:#CCC; padding-top:1em;}

.ceh-model {
  h1.section-heading {
    color: gray;
  }
  .key-value {
    margin: 6px 0;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 5px;
    .key {
      color: gray;
      .key-title {
        font-size: 1.3em;
      }
      .key-description {
        font-size: 0.8em;
      }
    }
  }
}
