@light-gray-border: #CCC;
@quality_success: #090;
@quality_warning: rgb(255, 153, 51);
@quality_info: rgb(102, 102, 255);
@quality_error: rgb(255, 102, 102);

@border_radius: 0.5em;

#metadata {
  #section-title {
    margin-top: 3em;
    padding: 1em 0;
    h1 {
      margin-top: 0;
      margin-bottom: 0.2em;
    };
    .authorList {color:#999;}
    .doi {
      font-size: 90%;
      margin: 0;
    };
  }

  .titleSpacer {
    border-bottom: 1px solid @light-gray-border;
    margin-bottom: 1em;
    padding: 1em 0;
  };

  #missingResourceType {
    margin:4em 0;
    a {
      margin-left:1em;
      .btn;
      .btn-danger;
      .btn-xs;
    }
  }

  #qualityAlert {
    .alert {
      background-color:transparent ;
      border: 2px solid #AAA;
      border-radius: 10px;
    };
    .alert-MDquality_danger {
      border-color: @quality_error;
      color: @quality_error;
    };
    .alert-MDquality_error {
      border-color: @quality_error;
      color: @quality_error;
    };
    .alert-MDquality_warning {
      border-color: @quality_warning;
      color:@quality_warning;
    };
    .alert-MDquality_info {
      border-color: @quality_info;
      color:@quality_info;
    };
    span {
      margin:0 1.2em;
    };
  }

  .distribution-dataset{
    .licenceText {
      .ogl-logo {
        margin-top:.3em;
        .pull-right;
      }
    }
  }

  .modal-body {
    #citation-text {
      margin:-0.5em 2em 2em 2em;
    };
    .licenceText {
      margin-top:3em;
      .text-center;
      img {
        display:block;
        margin:5px auto;
      };
    }
  }
  
  #document-description { margin-bottom:1em; }

 #section-supplemental {
   .supplemental-block{
     h4 {
        margin:2em 0 0 0;
      };
     .supplemental-item {
       padding: 0.75em 0 0.75em 3em;
       border-bottom: 1px solid #eee;
       overflow: hidden;
      };
    }
}

#document-metrics {

  h2 {
    margin:0;
    font-size:1.25em;
    a {
      display: block;
      color: #777;
    };
    i {
      margin-right:0.35em;
      font-size:1.85em;
      color: @brand-success;
    };
    span {
      font-size:1.85em;
      color: @brand-success;
    };
  };
  p {
    margin:1em 0 0 0;
  };

};

  #document-distribution {
    .signpostURL {
      display: block;
      margin: 1em 0;
    };
    .divider {
      height: 1px; 
      background:@light-gray-border;
      margin:1.2em 0;
    };
    .onlineResourceLinks{
      >div {
        padding: 0.25em 0.65em;
        margin-left:2em;
        i {
          margin-left:-2.25em;
          margin-right:.75em;
        };
      };
    };
    #resourceStatus {   
      background-color: transparent;
      border:none;
      color: #222;
      padding: 0;
      border-bottom: 1px solid #AAF !important;
      padding-bottom: 1em !important;
      a {
        color: @link-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      };
      p {
        margin-left: 0;
      };
      i{
        display:none;
      };
    }
};
  
  #signpost {
    .signpostURL {
      display: block;
      margin: 0.25em 0 0 1.35em;
    };
    .licenceText {
      display:none;
    }
    .licenceText {
      display:none;
    }
  };
  
  #document-otherContacts {
    dl.dl-horizontal {
        dd, dt { margin-bottom:0;}
    }
  };

  h3 {
    margin-top:     2.5em;
    border-bottom:  1px solid @light-gray-border;
    padding-bottom: 6px;
  }

  #section-children{
    margin-top: 3em;
    .children {
      display:flex;
      justify-content: space-evenly;
      align-items: stretch; 
      flex-wrap: wrap;
      a.childRecord {
        border:1px solid #DDD;
        padding:1.6em;
        width:19em;
        border-radius:0.6em;
        margin:1em 0;
        &:hover{
          background-color:#EEE;
          color:#000;
          text-decoration:none;
        };
      };
      div{
        &:first-child {
          color:#999;
          border-bottom:1px solid #DDD;
          margin-bottom:.5em;
          padding-bottom:.5em;
        };
        &:last-child {
          color:#111;
        };
    };
  }
  }

  #adminPanel{
    margin: 1.75em auto -1.75em auto;
    #adminToolbar {
      .btn-wide {
        min-width:10em;
      }
    };
    ul {
      a{font-size: 90%;};
      div.msg {
        margin:1em;
        white-space:nowrap;
      };
    }
  }

  #studyarea-map, #geometry-map { height: 300px; width: 300px; }

  .mintDOI{margin:0 1em;};

  // If the current metadata document is a historic archive, a warning is
  // displayed to the user at the top of the metadata page with
  // id = 'not-current'
  #resourceStatus {    
    margin: 1em 0 ;
    a {
      color:#00B;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    };
    p {
      margin-left: 1.5em;
    };
    i.fa-info-circle{
      margin-left: -1.5em;
      padding-right: .25em;
    };
  }

  .alert-Embargoed {
    .alert-info;
  }

  .alert-Superseded, .alert-Withdrawn {
    .alert-danger;
  }

  // Prevent definition lists from wrapping the term
  .dl-horizontal dt {
    white-space: normal;
  }

 .panel {overflow-wrap: break-word;}
 .panel, .panel-heading {border-radius: 0;}
 .panel-heading {padding:.5em 1em;}
 .panel-title { font-size:100%;}

 .responsibleParty {
    a.contactEmail {
      margin-left: 0.5em;
      font-size:75%;
    };
    a.contactEmail:hover {
      background-color: #99aefd;
      color:#FFF;
      text-decoration: none;
    };
    .nameIdentifier {
      font-size:90%;
      span {
        font-size:80%;
        margin-left:0.75em;
      }
    };
    margin-bottom:1.5em;
	  address{
      margin-bottom:0;
    };
  }

  #document-authors {
    a.moreAuthors {
      &:after{
        content:"fewer ↑";
      };
      span {
        display:none;
      };
    };
    a.moreAuthors.collapsed {
      &:after{
        content:"more ↓";
      };
      span {
        display:inline;
      };
    };
  }

  #document-upload-panel {
    border-width:3px;
    border-color: @brand-success; 
    .panel-body {
      padding: 1em;
      p {
        font-weight: bold;
        font-size: 1.2em;
        margin: 0;
      };
    };
  };

  .funding {
    .award {
      .awardNumber {margin-left:2em;}
    };
  };

  #section-onlineResources {
    p {margin-bottom:1.5em;}
  };

.panel {
  border-radius: @border_radius !important;
  .panel-heading {
    border-radius: @border_radius @border_radius 0 0 !important;
  }
  };


 @media (min-width: 768px) {
    .dl-horizontal dt {
        width:15em;
        white-space: normal;
    }
    .dl-horizontal dd {
        margin-left:16em;
        margin-bottom:.3em;
    }
 }

 @media (min-width: 468px) {
    .dl-horizontal dd { margin-bottom:1em;}
  }

#section-metadataQuality {
  .panel-heading {
    color:#fff;
    .col-sm-9 {
      text-align: right;
    }
  };
  .panel-heading.MDquality_error {
    background:@quality_error;
  };
  .panel-heading.MDquality_warning {
    background:@quality_warning;
  };
  .panel-heading.MDquality_info {
    background:@quality_info;
  };
  ul.MDquality_error {
    li {
      color: @quality_error;
      font-weight: bold;
      background-color: fade(@quality_error, 15%);
    }
  };
  ul.MDquality_warning {
    li {
      color: @quality_warning;
      font-weight: bold;
      background-color: fade(@quality_warning, 15%);
    }
  };
  ul.MDquality_info {
    li {
      background-color: fade(@quality_info, 15%);
    }
  };

  span {
    color: #00D;
    &:before {
      content:" «"
    };
    &:after {
      content:"» "
    };
  };
};

.browseGraphic {
  .pull-right;
  margin:0 0 1em 1em ;
  max-width:30em;
  max-height:30em; 
}

}

#publication {
  div{
    margin: 4em auto;
    text-align:center;
    .btn {
      min-width:18em;
    }
  }
}

#footer {
  background-color:#CCC;
  padding-top:1em;
  position: absolute;
  height: @footer-height;
  width: 100%;
  bottom: 0;
}

.ceh-model {
  .description {
    margin-bottom:2em;
  };
  section {
    h2 {
      color: gray;
      margin-top: 4em;
    }
  }
  .key-value {
      padding:1.5em 0 ;
      border-top: 1px solid lightgray;
    .key {
      .key-name {
        font-size: 1.1em;
        font-weight:bold;
      }
    }
  }
}

