@import "bootstrap";

.search-box{
  padding-bottom: 10px;
}

.result {
  padding: 0em 0em 2em;
  font-size: 90%;
  
  .title {
    display: block;
    font-weight: 700;
    font-size: 120%;
  }

  .description {
  }

  .resource-type {
    text-transform: uppercase;
    float: right;
    display: block;
    padding: 5px;
    font-size: 90%;
    border-radius: 5px;
    line-height: 1.4;
    font-weight: normal;
  }

}

.search-results-heading {
  color: #999;
}

.nav > li > a {
  color: #999;
}

.facet-heading {
  font-weight: 700;
  padding-top: 10px;
  /*color: #999;*/
}

@facet-filter-left-padding: 20px;

.facet-result-name {
  color: #000;
}

.facet-filter-inactive {
  padding-left: facet-filter-left-padding;
}

.facet-filter-active {
  background-color: #C3FDB8;
  border-radius: 5px;
  hover{
    background-color: #00f;
  }

}

.results-container{
  padding-left: 30px;
  border-left: 1px;
}

.search-container {
  .make-row();
  .search {
    .make-sm-column(3);
    padding-bottom: 2em;
  }
  .results {
    .make-sm-column(9);
  }
}
