// Import our own style sheets
@import "theme";
@import "../vendor/font-awesome-5/less/fontawesome";
@import "../vendor/font-awesome-5/less/solid";
@import "../vendor/font-awesome-5/less/regular";
@import "../vendor/font-awesome-5/less/brands";
@import "message-panel";
@import "search";
@import "mapviewer";
@import "metadata";
@import "editor";
@import "validation";
@import "documents-upload";
@import "upload-simple";

@fa-font-path: "../vendor/font-awesome-5/webfonts";

@urin-yellow: hsl(56, 100%, 56%);
@filter-heading-background: @urin-yellow;
@footer-height: 16em;
@header-text: @gray-dark;

html {
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}

body {
  margin-top: @navbar-height + @navbar-border-width;
  margin-bottom: @footer-height;
}

.navbar-title {
  a {
    &:hover {
      color: @urin-yellow;
    }
  }
}

#adminToolbar {
  margin: 1.5em 0;
}

.input-group-addon {
  background-color: #eee;
}

.modal-open {
  padding: 0 !important;
}

.fa-spin-2x {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.metadata-grid {
  .col1 {
    grid-area: col1;
  }
  .col2 {
    grid-area: col2;
  }
  display: grid;
  grid-template-columns: auto 300px;
  gap: 1em 2em;
  grid-template-areas:
    "col2 col2"
    "col1 col1";
}

.owners {
  --_ownercolor: lightgray;
  border: 1px solid var(--_ownercolor);
  margin-top: 2em;
  > div {
    padding: 0.6em;
    &:first-of-type {
      background-color: var(--_ownercolor);
      font-weight: bolder;
    }
  }
  .owner {
    margin-bottom: 2em;
  }
}

.key-value {
  margin: 2em 0;
  div {
    &:first-of-type {
      font-weight: bolder;
    }
  }
}

//MEDIA
@media only screen and (min-width: 1020px) {
  .metadata-grid {
    grid-template-areas: "col1 col2";
  }
}

@import "style-rifooter.less";
