@import "style-ceh";
@brand-success: #3498DB;
@gray-lighter: @brand-success;
@header-text: #ECF0F1;
.text-red {
    color: #E74C3C;
}

.sensor-admin {
    padding: 0 !important;
    margin: 0 !important;

    .fa {
        margin-right: 3px;
    }
}