@import "style-ceh";
@brand-success: #3498DB;
@gray-lighter: @brand-success;
@header-text: #ECF0F1;
@brand-error: #c9302c;
.text-red {
    color: @brand-error;
}

.static-message {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 160px;
    text-align: center;
    top: 60px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}

.is-hidden {
    display: none !important;
}


.new-form {
    margin-top: 20px;
    & .is-blank {
        color: #BDBDBD;
        fill: #BDBDBD;
    }
    & input,
    & textarea,
    & select {
        border-radius: 4px;
        padding: 5px 10px;
        border: solid 1px transparent;
        font-size: 18px;
        resize: none;
        background: none;
        &:hover,
        &:focus,
        &.is-active {
            border: solid 1px #ccc;
            resize: both;
        }
        &:hover {
            cursor: pointer;
        }
        &:focus {
            cursor: initial;
        }
        &.is-errored {
            border: solid 1px @brand-error;
            outline-color: @brand-error;
        }
    }
    select::-ms-expand {
        display: none;
    }
    select {
        -webkit-appearance: none;
        appearance: none;
    }
    & .title {
        font-size: 28px;
    }
    & .subtitle {
        font-size: 16px;
    }
    & .description {
        margin: 5px 0;
    }
    & .value-error {
        display: none;
        font-weight: bold;
        color: @brand-error;
        width: 100%;
        padding: 0 10px;
        margin-top: 0;
    }
    & .value {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 5px;
        width: 100%;
        &.is-errored .value-error {
            display: block;
        }
    }
    & .value-label {
        width: 20%;
        padding: 0 10px;
        text-align: right;
    }
    & .value-children {
        width: 80%;
    }
    & .value-block {
        width: 100%;
        display: inline-flex;
        margin-bottom: 5px;
        &-value {
            width: 100%;
            display: inline-block;
            margin: -5px 0 0 5px;
        }
    }
    & .head {
        margin-bottom: 10px;
        & input,
        & textarea {
            display: block;
            width: 100%;
        }
        & .value-children {
            width: 100%;
        }
    }
    & .delete {
        margin-left: 10px;
    }
    & .delete .fa-times {
        border: none;
        background: none;
        color: #d9534f;
        &:hover {
            color: @brand-error;
        }
    }
    & .static-value,
    & input,
    & select,
    & ul {
        margin: 0;
        width: 80%;
    }
    & .static-value,
    & label,
    & input,
    & select {
        font-size: 14px;
    }
    & .static-value {
        padding: 0 10px;
    }
    & input[type="radio"] {
        width: auto;
        margin: 5px 10px;
    }
}

.new-form.readonly {
    & input,
    & textarea,
    & select {
        border: solid 1px transparent !important;
        cursor: initial !important;
    }
}

.foi-data {
    & .monitoring {
        display: none !important;
    }
    & .verticalmonitoring {
        display: none !important;
    }
    & .composite {
        display: none !important;
    }
    & .notype {
        display: none !important;
    }
    &.is-notype .notype {
        display: flex !important;
    }
    &.is-monitoring .monitoring {
        display: flex !important;
    }
    &.is-verticalmonitoring .verticalmonitoring {
        display: flex !important;
    }
    &.is-composite .composite {
        display: flex !important;
    }
}

.new-admin {
    margin-top: 10px;
}