// Import our own style sheets

@import "bootstrap";
@import "search";

// Define the ceh navbar
.navbar-static-top {margin-bottom: 19px;}

.navbar {
  background-color: #FFF;
  border-bottom:  #38CCD7 3px solid;

  li {
    a {
      &:hover { color: #999999; }
      &:visited, &:link {
        text-shadow: none;
        color: #999999;
        border-left: 1px solid #B7ECF0;
        font-weight: bold;
      }
    }

    &:first-child a { border-left-style: none; }

    ul a:visited, li ul a:link {
      border-left-style:none; 
    }

    ul a:hover {
      background-color: #999999;
      color: #FFF;
    }
  }
}

.navbar-right { padding-top:40px; }