@import "style-ceh";

@brand-success: #9fb025;
@green-light: @brand-success;
@header-text: #ffffff;
@panel-default-text: @header-text;

.erammp-metadata {
  .row {
    margin-bottom: 1.25em;
    .view-label {
      font-weight: bold;
    }
    div[class|="col-sm-"] {
      .view-label {
        text-align: right;
      }
    }
    .col-xs-12 {
      .view-label {
        text-align: left;
      }
    }
  }
  h2 {
    margin: 3em 0 1em 0;
  }
  .description {
    margin: 2em 0;
  }
  .section {
    padding-bottom: 1em;
    margin-top: 4em;
    &--heading {
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.75em;
      margin-bottom: 2em;
      h2 {
        margin: 0;
      }
    }
  }

  .table-schema {
    .table-responsive;
    td,
    th {
      padding: 0.3em 1em !important;
      .schema-constraints {
        display: table;
        div {
          display: table-row;
          span {
            display: table-cell;
            padding-right: 1em;
          }
        }
      }
    }
    tr.unique {
      td:first-child {
        font-weight: bold;
        &:before {
          content: "*";
        }
      }
    }
  }
  .schema {
    display: table;
    max-width: 100%;
    &--row,
    &--head {
      display: table;
      border-bottom: 1px solid lightgray;
      > div {
        display: table-row;
        padding: 1rem;
        span {
          display: table-cell;
          padding: 0.4rem;
          &:first-child {
            margin-right: 1rem;
            font-weight: bolder;
            text-align: right;
          }
        }
      }
    }
    &--head {
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    .schema {
      &--row,
      &--head {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 5fr 1fr;
        > div {
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            display: inline;
            &:first-child {
              display: none;
              overflow: hidden;
            }
          }
        }
      }
      &--head {
        font-weight: bold;
      }
    }
  }

  .section-metadata {
    .row {
      margin-bottom: 0;
    }
  }

  #studyarea-map,
  #geometry-map {
    width: 180px !important;
    height: 220px !important;
  }
}
