@import "style-ceh";


@brand-success: #9fb025;
@gray-lighter: @brand-success;
@header-text: #ffffff;
@panel-default-text: @header-text;

.erammp-metadata {
    .row {
        margin-bottom:1.25em;
        .view-label {
            font-weight: bold;
            text-align: right;
        }
    };
    h2 {
        margin:3em 0 1em 0;
    };
    .description {
        margin: 2em 0;
    }
    #section-inputs, #section-outputs {
        table{
            margin-left:3em;
        };
    };
}