@import "style-ceh";
@brand-success: #3498DB;
@gray-lighter: @brand-success;
@header-text: #ECF0F1;
@brand-error: #c9302c;
.text-red {
    color: @brand-error;
}

.static-message {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 160px;
    text-align: center;
    top: 60px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}

.is-hidden {
    display: none !important;
}

.graph-buttons {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.btn-default .fa-dot-circle {
    display: none;
}
.btn-success .fa-circle {
    display: inline-block
}

.btn-success .fa-dot-circle {
    display: inline-block;
}
.btn-success .fa-circle {
    display: none;
}