// Import our own style sheets
@import "theme";
@import "../vendor/fontawesome/less/fontawesome";
@import "../vendor/fontawesome/less/regular";
@import "../vendor/fontawesome/less/solid";
@import "message-panel";
@import "search";
@import "mapviewer";
@import "metadata";
@import "editor";
@import "validation";
@import "documents-upload";
@import "deposit-request";

@fa-font-path: "../vendor/fontawesome/webfonts";

@nav-bar-height: 51px;
@footer-height: 3.25em;
@header-text: @gray-dark;

html { overflow-y: scroll; min-height:100%; position:relative;}
body { margin-top: @nav-bar-height; margin-bottom: @footer-height; }

.input-group-addon {
  background-color: #eee;
}

.modal-open {
  padding: 0 !important;
}

.cy {
  height: 550px;
  width: 100%;
}