# Ignore the built content
src/vendor
src/scripts/*-out.js
src/css/*
webpack/dist

# Ignore the node_modules
node_modules

# Ignore testing code
.grunt
_SpecRunner.html
test-compiled
junit
*.sublime-workspace