# Ignore the built content
vendor
scripts/*-out.js
css
dist

# Ignore the node_modules
node_modules

# Ignore testing code
.grunt
_SpecRunner.html
test-compiled
junit
*.sublime-workspace